Summary_Agent_v11_OnePager_CSIS_Outreach_WEBHOOK.json
{
  "name": "Summary_Agent_v11_OnePager_CSIS_Outreach_OPENAI_SEARCH_WEBHOOK",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "csis-company-memo-openai-search",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization, X-API-Key"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -720,
        768
      ],
      "id": "webhook-csis-company-memo",
      "name": "Dashboard Webhook"
    },
    {
      "parameters": {
        "functionCode": "const incoming = items[0].json || {};\nconst source = incoming.body && typeof incoming.body === 'object' ? incoming.body : incoming;\nconst item = {\n  ...source,\n  requested_at: source.requested_at || incoming.headers?.['x-requested-at'] || new Date().toISOString(),\n  status: source.status || 'pending'\n};\nconst company = (item.company_name || '').toString().trim();\nif (!company) {\n  throw new Error('company_name is required in the intake sheet.');\n}\nconst profileKey = company.toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\nconst dedup = (arr) => [...new Set(arr.filter(Boolean))];\nconst globalNewsDomains = [\n  'reuters.com', 'apnews.com', 'bloomberg.com', 'ft.com', 'wsj.com', 'cnbc.com',\n  'marketwatch.com', 'barrons.com', 'forbes.com', 'fortune.com', 'axios.com',\n  'politico.com', 'thehill.com', 'semafor.com', 'nikkei.com', 'asia.nikkei.com',\n  'economist.com', 'finance.yahoo.com', 'prnewswire.com', 'businesswire.com', 'globenewswire.com'\n];\nconst energyNewsDomains = [\n  'oilprice.com', 'upstreamonline.com', 'rigzone.com', 'energyintel.com', 'hartenergy.com',\n  'spglobal.com', 'argusmedia.com', 'energyvoice.com', 'ogj.com', 'worldoil.com',\n  'lngprime.com', 'offshore-energy.biz', 'power-technology.com', 'renewablesnow.com',\n  'hydrocarbons-technology.com', 'mees.com', 'arabnews.com'\n];\nconst financeNewsDomains = [\n  'americanbanker.com', 'bankingdive.com', 'finextra.com', 'pymnts.com', 'paymentsdive.com',\n  'risk.net', 'pensionsandinvestments.com', 'institutionalinvestor.com', 'efinancialcareers.com'\n];\nconst pharmaHealthNewsDomains = [\n  'fiercepharma.com', 'fiercebiotech.com', 'biopharmadive.com', 'endpts.com',\n  'statnews.com', 'pharmaphorum.com', 'genengnews.com', 'biospace.com',\n  'pharmaceutical-technology.com', 'clinicaltrialsarena.com', 'pink.citeline.com'\n];\nconst technologyNewsDomains = [\n  'theverge.com', 'techcrunch.com', 'wired.com', 'arstechnica.com', 'theregister.com',\n  'venturebeat.com', 'zdnet.com', 'crn.com', 'cio.com', 'computerworld.com',\n  'protocol.com', 'informationweek.com', 'lightreading.com', 'fierce-network.com'\n];\nconst semiconductorNewsDomains = [\n  'semianalysis.com', 'semiconductor-digest.com', 'eetimes.com', 'electronicsweekly.com',\n  'tomshardware.com', 'anandtech.com', 'electronics360.globalspec.com', 'design-reuse.com',\n  'lightreading.com', 'fierce-network.com', 'rcrwireless.com', 'mobileworldlive.com',\n  'androidauthority.com', 'gsmarena.com', '9to5google.com', 'digitimes.com',\n  'scmp.com', 'semiengineering.com', 'electronicsweekly.com'\n];\nconst aerospaceDefenseNewsDomains = [\n  'defensenews.com', 'breakingdefense.com', 'defenseone.com', 'janes.com', 'aviationweek.com',\n  'flightglobal.com', 'ainonline.com', 'airandspaceforces.com', 'nationaldefensemagazine.org',\n  'c4isrnet.com', 'insideunmannedsystems.com', 'thewarzone.com', 'spacenews.com'\n];\nconst automotiveIndustrialNewsDomains = [\n  'automotivenews.com', 'autonews.com', 'carscoops.com', 'electrive.com', 'greencarreports.com',\n  'wardsauto.com', 'autoblog.com', 'just-auto.com', 'industryweek.com', 'manufacturingdive.com',\n  'engineeringnews.co.za', 'machinedesign.com'\n];\nconst agricultureFoodNewsDomains = [\n  'agweb.com', 'agrimarketing.com', 'feedstuffs.com', 'agriculture.com', 'world-grain.com',\n  'foodbusinessnews.net', 'fooddive.com', 'beveragedaily.com', 'fooddive.com',\n  'just-food.com', 'agri-pulse.com', 'successfulfarming.com'\n];\nconst miningMetalsNewsDomains = [\n  'mining.com', 'miningweekly.com', 'mining-technology.com', 'spglobal.com',\n  'metalbulletin.com', 'fastmarkets.com', 'argusmedia.com', 'mining-journal.com',\n  'australianmining.com.au', 'resourcesrisingstars.com.au'\n];\nconst asiaBusinessNewsDomains = [\n  'asia.nikkei.com', 'nikkei.com', 'japantimes.co.jp', 'japantoday.com', 'koreaherald.com',\n  'koreatimes.co.kr', 'koreajoongangdaily.joins.com', 'scmp.com', 'straitstimes.com',\n  'channelnewsasia.com', 'koreabizwire.com'\n];\nconst securityDefenseDomains = [\n  'warontherocks.com', 'defenseone.com', 'breakingdefense.com', 'defensenews.com',\n  'thecipherbrief.com', 'iiss.org', 'sipri.org', 'rusi.org', 'lawfaremedia.org',\n  'jamestown.org', 'fpri.org', 'cna.org', 'atlanticcouncil.org', 'stimson.org',\n  'maritime-executive.com', 'navalnews.com', 'airandspaceforces.com', 'csis.org'\n];\nconst domainPack = (...groups) => dedup([...globalNewsDomains, ...groups.flat()]);\nconst commonNewsTerms = ['earnings', 'acquisition', 'divestiture', 'lawsuit', 'regulation', 'contract', 'partnership', 'investment', 'launch', 'order', 'award', 'geopolitical', 'supply chain', 'policy', 'tariff', 'sanctions', 'export controls'];\nconst commonSecurityTerms = ['geopolitical risk', 'armed conflict', 'military', 'defense', 'deterrence', 'force posture', 'alliance', 'sanctions', 'export controls', 'maritime security', 'cybersecurity', 'space security'];\nconst companyProfiles = {\n  adm: { domain: 'adm.com', aliases: ['Archer Daniels Midland', 'ADM Company', 'Archer-Daniels-Midland'], official_domains: ['adm.com'], news_domains: domainPack(agricultureFoodNewsDomains), news_terms: ['grain', 'soybean', 'corn', 'biofuels', 'ethanol', 'agriculture', 'food ingredients'] },\n  bhp: { domain: 'bhp.com', aliases: ['BHP Group', 'Broken Hill Proprietary'], official_domains: ['bhp.com'], news_domains: domainPack(miningMetalsNewsDomains, asiaBusinessNewsDomains), news_terms: ['mining', 'copper', 'iron ore', 'potash', 'coal', 'critical minerals', 'nickel'] },\n  hyundai: { domain: 'hyundai.com', aliases: ['Hyundai Motor', 'Hyundai Motor Company', 'Hyundai Motor Group', 'Hyundai Mobis'], official_domains: ['hyundai.com', 'hyundai.news', 'hyundaimotorgroup.com'], news_domains: domainPack(automotiveIndustrialNewsDomains, asiaBusinessNewsDomains), news_terms: ['electric vehicle', 'EV', 'battery', 'automotive', 'mobility', 'hydrogen', 'manufacturing'] },\n  samsung: { domain: 'samsung.com', aliases: ['Samsung Electronics', 'Samsung Group', 'Samsung Semiconductor'], official_domains: ['samsung.com', 'news.samsung.com', 'semiconductor.samsung.com'], news_domains: domainPack(technologyNewsDomains, semiconductorNewsDomains, asiaBusinessNewsDomains), news_terms: ['chip', 'chips', 'semiconductor', 'memory', 'foundry', 'AI', 'smartphone', 'display'] },\n  chevron: { domain: 'chevron.com', aliases: ['Chevron Corporation', 'Chevron U.S.A.'], official_domains: ['chevron.com'], news_domains: domainPack(energyNewsDomains), news_terms: ['oil', 'gas', 'LNG', 'upstream', 'refining', 'hydrogen', 'carbon capture', 'Guyana', 'Permian'] },\n  cisco: { domain: 'cisco.com', aliases: ['Cisco Systems', 'Cisco Systems Inc.'], official_domains: ['cisco.com', 'newsroom.cisco.com'], news_domains: domainPack(technologyNewsDomains), news_terms: ['networking', 'cybersecurity', 'AI', 'cloud', 'data center', 'telecom', 'Splunk'] },\n  merck: { domain: 'merck.com', aliases: ['Merck & Co.', 'MSD', 'Merck Sharp & Dohme'], official_domains: ['merck.com'], news_domains: domainPack(pharmaHealthNewsDomains), news_terms: ['pharmaceutical', 'drug approval', 'clinical trial', 'oncology', 'vaccine', 'Keytruda', 'FDA'] },\n  qualcomm: { domain: 'qualcomm.com', aliases: ['Qualcomm Incorporated', 'Qualcomm Technologies', 'Snapdragon', 'Qualcomm AI', 'Qualcomm CDMA Technologies'], official_domains: ['qualcomm.com', 'investor.qualcomm.com'], news_domains: domainPack(technologyNewsDomains, semiconductorNewsDomains), news_terms: ['chip', 'chips', 'semiconductor', 'AI', 'automotive', 'handset', 'modem', 'licensing', 'Snapdragon'] },\n  nvidia: { domain: 'nvidia.com', aliases: ['NVIDIA Corporation', 'Nvidia Corp'], official_domains: ['nvidia.com', 'nvidianews.nvidia.com', 'investor.nvidia.com'], news_domains: domainPack(technologyNewsDomains, semiconductorNewsDomains), news_terms: ['AI', 'GPU', 'data center', 'chip', 'semiconductor', 'export controls', 'Blackwell', 'CUDA'] },\n  microsoft: { domain: 'microsoft.com', aliases: ['Microsoft Corporation', 'MSFT', 'Azure'], official_domains: ['microsoft.com', 'news.microsoft.com'], news_domains: domainPack(technologyNewsDomains), news_terms: ['AI', 'cloud', 'Azure', 'cybersecurity', 'OpenAI', 'data center', 'software'] },\n  ibm: { domain: 'ibm.com', aliases: ['International Business Machines', 'IBM Corporation', 'Red Hat'], official_domains: ['ibm.com', 'newsroom.ibm.com'], news_domains: domainPack(technologyNewsDomains), news_terms: ['AI', 'hybrid cloud', 'quantum', 'mainframe', 'consulting', 'Red Hat'] },\n  exxon: { domain: 'corporate.exxonmobil.com', aliases: ['ExxonMobil', 'Exxon Mobil', 'Exxon Mobil Corporation'], official_domains: ['corporate.exxonmobil.com', 'exxonmobil.com'], news_domains: domainPack(energyNewsDomains), news_terms: ['oil', 'gas', 'LNG', 'upstream', 'refining', 'carbon capture', 'Permian', 'Guyana'] },\n  amazon: { domain: 'amazon.com', aliases: ['Amazon.com', 'Amazon Web Services', 'AWS', 'Amazon Web Services Inc.'], official_domains: ['amazon.com', 'aboutamazon.com', 'aws.amazon.com'], news_domains: domainPack(technologyNewsDomains), news_terms: ['AWS', 'cloud', 'AI', 'data center', 'e-commerce', 'logistics', 'antitrust'] },\n  'bank of america': { domain: 'bankofamerica.com', aliases: ['BofA', 'Bank of America Corporation', 'Merrill Lynch'], official_domains: ['bankofamerica.com', 'newsroom.bankofamerica.com'], news_domains: domainPack(financeNewsDomains), news_terms: ['banking', 'capital markets', 'wealth management', 'consumer banking', 'stress test', 'interest rates'] },\n  pepsico: { domain: 'pepsico.com', aliases: ['PepsiCo Inc.', 'Pepsi', 'Frito-Lay', 'Quaker Foods'], official_domains: ['pepsico.com'], news_domains: domainPack(agricultureFoodNewsDomains), news_terms: ['food', 'beverages', 'snacks', 'consumer goods', 'supply chain', 'packaging', 'pricing'] },\n  infineon: { domain: 'infineon.com', aliases: ['Infineon Technologies', 'Infineon Technologies AG'], official_domains: ['infineon.com'], news_domains: domainPack(technologyNewsDomains, semiconductorNewsDomains), news_terms: ['chip', 'chips', 'semiconductor', 'power semiconductor', 'automotive', 'microcontroller', 'SiC'] },\n  gilead: { domain: 'gilead.com', aliases: ['Gilead Sciences', 'Gilead Sciences Inc.'], official_domains: ['gilead.com'], news_domains: domainPack(pharmaHealthNewsDomains), news_terms: ['pharmaceutical', 'clinical trial', 'oncology', 'HIV', 'liver disease', 'FDA', 'drug approval'] },\n  aramco: { domain: 'aramco.com', aliases: ['Saudi Aramco', 'Saudi Arabian Oil Company'], official_domains: ['aramco.com'], news_domains: domainPack(energyNewsDomains, asiaBusinessNewsDomains), news_terms: ['oil', 'gas', 'LNG', 'upstream', 'refining', 'petrochemicals', 'OPEC', 'Saudi Arabia'] },\n  equinor: { domain: 'equinor.com', aliases: ['Equinor ASA', 'Statoil'], official_domains: ['equinor.com'], news_domains: domainPack(energyNewsDomains), news_terms: ['oil', 'gas', 'offshore wind', 'LNG', 'North Sea', 'renewables', 'carbon capture'] },\n  'sk americas': { domain: 'sk.com', aliases: ['SK Group', 'SK hynix', 'SK Innovation', 'SK On', 'SK Americas'], official_domains: ['sk.com', 'skhynix.com', 'skinnonews.com', 'sk-on.com'], news_domains: domainPack(technologyNewsDomains, semiconductorNewsDomains, energyNewsDomains, asiaBusinessNewsDomains), news_terms: ['semiconductor', 'memory', 'battery', 'EV battery', 'energy', 'chip', 'Korea'] },\n  'jp morgan': { domain: 'jpmorganchase.com', aliases: ['JPMorgan Chase', 'J.P. Morgan', 'JPMorgan', 'JPMorgan Chase & Co.'], official_domains: ['jpmorganchase.com'], news_domains: domainPack(financeNewsDomains), news_terms: ['banking', 'investment banking', 'asset management', 'markets', 'stress test', 'interest rates'] },\n  boeing: { domain: 'boeing.com', aliases: ['The Boeing Company', 'Boeing Defense', 'Boeing Commercial Airplanes'], official_domains: ['boeing.com'], news_domains: domainPack(aerospaceDefenseNewsDomains, automotiveIndustrialNewsDomains), news_terms: ['aircraft', 'defense', 'aerospace', '737', '787', 'space', 'FAA', 'supply chain'] },\n  'general atomics': { domain: 'ga.com', aliases: ['General Atomics Aeronautical Systems', 'GA-ASI', 'General Atomics ASI', 'MQ-9', 'Reaper drone'], official_domains: ['ga.com', 'ga-asi.com'], news_domains: domainPack(aerospaceDefenseNewsDomains), news_terms: ['drone', 'UAV', 'unmanned', 'defense', 'aerospace', 'MQ-9', 'contract award'] },\n  mitsubishi: { domain: 'mhi.com', aliases: ['Mitsubishi Heavy Industries', 'MHI', 'Mitsubishi Corporation', 'Mitsubishi Electric'], official_domains: ['mhi.com', 'mitsubishicorp.com', 'mitsubishielectric.com'], news_domains: domainPack(automotiveIndustrialNewsDomains, aerospaceDefenseNewsDomains, energyNewsDomains, asiaBusinessNewsDomains), news_terms: ['heavy industry', 'defense', 'shipbuilding', 'space', 'nuclear', 'energy', 'turbine', 'Japan'] },\n  sumitomo: { domain: 'sumitomo.com', aliases: ['Sumitomo Corporation', 'Sumitomo Electric', 'Sumitomo Mitsui'], official_domains: ['sumitomocorp.com', 'sumitomo.com', 'sumitomoelectric.com'], news_domains: domainPack(miningMetalsNewsDomains, energyNewsDomains, asiaBusinessNewsDomains), news_terms: ['trading house', 'mining', 'energy', 'infrastructure', 'Japan', 'critical minerals'] }\n};\nconst profile = companyProfiles[profileKey] || {};\nconst rawAliases = Array.isArray(item.company_aliases)\n  ? item.company_aliases\n  : (item.company_aliases || '').toString().split(/[;,]/);\nconst companyAliases = [...new Set([...(profile.aliases || []), ...rawAliases]\n  .map(a => (a || '').toString().trim())\n  .filter(Boolean))];\nconst companyNames = [company, ...companyAliases];\nconst queryCompanyNames = dedup(companyNames).slice(0, 3);\nconst quoteTerm = (value) => {\n  const clean = (value || '').toString().replace(/\"/g, '').trim();\n  return clean.includes(' ') || /[^A-Za-z0-9.-]/.test(clean) ? `\"${clean}\"` : clean;\n};\nconst buildLimitedQuery = (names, terms, maxLength = 360) => {\n  const cleanNames = dedup(names.map(name => (name || '').toString().trim()).filter(Boolean)).slice(0, 3);\n  const cleanTerms = dedup(terms.map(term => (term || '').toString().trim()).filter(Boolean));\n  for (let nameCount = cleanNames.length; nameCount >= 1; nameCount--) {\n    const namePart = cleanNames.slice(0, nameCount).map(quoteTerm).join(' OR ');\n    const selectedTerms = [];\n    for (const term of cleanTerms) {\n      const candidateTerms = [...selectedTerms, term];\n      const candidate = `(${namePart}) (${candidateTerms.map(quoteTerm).join(' OR ')})`;\n      if (candidate.length <= maxLength) selectedTerms.push(term);\n    }\n    if (selectedTerms.length) return `(${namePart}) (${selectedTerms.map(quoteTerm).join(' OR ')})`;\n  }\n  return `${quoteTerm(cleanNames[0] || company)} ${quoteTerm(cleanTerms[0] || 'news')}`;\n};\nconst days = Number(item.time_period_days || item.time_period || item.days || 14);\nconst allowed = [14, 30, 60];\nconst normalizedDays = allowed.includes(days) ? days : 14;\nconst now = new Date();\nconst end = now.toISOString().slice(0, 10);\nconst startDateObj = new Date(now);\nstartDateObj.setUTCDate(startDateObj.getUTCDate() - normalizedDays);\nconst start = startDateObj.toISOString().slice(0, 10);\nconst slug = company\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '_')\n  .replace(/^_+|_+$/g, '')\n  .slice(0, 60) || 'company';\nconst runId = `${slug}_${end}_${normalizedDays}d_${item.row_number || 0}`;\nconst secCik = (item.sec_cik || '').toString().replace(/\\D/g, '');\nconst paddedCik = secCik ? secCik.padStart(10, '0') : '';\nconst shortCik = secCik ? secCik.replace(/^0+/, '') : '';\nconst rawDomain = (item.company_domain || item.official_domain || profile.domain || '').toString().trim().toLowerCase();\nconst companyDomain = rawDomain\n  .replace(/^https?:\\/\\//, '')\n  .replace(/^www\\./, '')\n  .replace(/\\/.*$/, '');\nconst officialDomains = [...(profile.official_domains || []), 'sec.gov', 'businesswire.com', 'prnewswire.com', 'globenewswire.com'];\nif (companyDomain) {\n  officialDomains.unshift(companyDomain);\n  officialDomains.unshift(`investor.${companyDomain}`);\n  officialDomains.unshift(`ir.${companyDomain}`);\n  officialDomains.unshift(`investors.${companyDomain}`);\n}\nconst officialDomainsFinal = dedup(officialDomains);\nconst governmentDomains = ['lda.senate.gov', 'opensecrets.org', 'usaspending.gov', 'sam.gov', 'federalregister.gov'];\nconst thinktankDomains = ['csis.org', 'brookings.edu', 'rand.org', 'cfr.org', 'cnas.org', 'carnegieendowment.org', 'aei.org'];\nconst securityDomains = dedup([...securityDefenseDomains, 'csis.org', 'cnas.org', 'rand.org', 'cfr.org']);\nconst filingTerms = ['8-K', '10-Q', '10-K', 'earnings release', 'investor relations', 'press release', 'news release', 'contract', 'award'];\nconst officialQuery = buildLimitedQuery(queryCompanyNames, paddedCik ? [shortCik, ...filingTerms] : filingTerms);\nconst governmentQuery = buildLimitedQuery(queryCompanyNames, ['LD-2', 'lobbying', 'procurement', 'Senate lobbying', 'Federal Register']);\nconst thinktankQuery = buildLimitedQuery(queryCompanyNames, ['regulation', 'policy', 'analysis', 'briefing', 'strategic risk']);\nconst securityQueryTerms = dedup([...commonSecurityTerms, ...(profile.security_terms || []), ...(profile.news_terms || [])]);\nconst securityQuery = buildLimitedQuery(queryCompanyNames, securityQueryTerms);\nconst announcementTerms = ['announcement', 'press release', 'news release', 'contract', 'award', 'order', 'partnership', 'investment', 'launch', 'acquisition', 'divestiture', 'lawsuit', 'earnings'];\nconst queryTerms = dedup([...commonNewsTerms, ...(profile.news_terms || [])]);\nconst announcementQueryTerms = dedup([...announcementTerms, ...(profile.news_terms || [])]);\nconst announcementQuery = buildLimitedQuery(queryCompanyNames, announcementQueryTerms);\nconst targetedNewsQuery = buildLimitedQuery(queryCompanyNames, queryTerms);\nconst newsQuery = buildLimitedQuery(queryCompanyNames, queryTerms);\nconst newsDomains = dedup([...(profile.news_domains || globalNewsDomains)]);\nreturn [{\n  json: {\n    ...item,\n    company_name: company,\n    sec_cik: paddedCik,\n    sec_cik_short: shortCik,\n    company_domain: companyDomain,\n    company_aliases: companyAliases,\n    company_names: companyNames,\n    time_period_days: normalizedDays,\n    time_period_label: item.time_period_label || `${normalizedDays} days`,\n    start_date: start,\n    end_date: end,\n    safe_file_name: slug,\n    run_id: runId,\n    official_domains: officialDomainsFinal,\n    government_domains: governmentDomains,\n    thinktank_domains: thinktankDomains,\n    security_domains: securityDomains,\n    news_domains: newsDomains,\n    official_query: officialQuery,\n    government_query: governmentQuery,\n    thinktank_query: thinktankQuery,\n    security_query: securityQuery,\n    announcement_query: announcementQuery,\n    targeted_news_query: targetedNewsQuery,\n    news_query: newsQuery,\n    scraped_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -480,
        768
      ],
      "id": "05b1ff3e-95a7-41c1-8953-4f2b4aa484ed",
      "name": "Normalize Inputs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query: $('Normalize Inputs').item.json.official_query,\n  topic: 'general',\n  search_depth: 'advanced',\n  include_domains: $('Normalize Inputs').item.json.official_domains,\n  include_raw_content: true,\n  max_results: 10,\n  start_date: $('Normalize Inputs').item.json.start_date,\n  end_date: $('Normalize Inputs').item.json.end_date,\n  include_answer: false\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        368
      ],
      "id": "dfa58244-94ed-46e7-8b8b-8c19e9fd3707",
      "name": "Search Official / Regulatory Sources",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wasPaWy7tmUk5k0C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query: $('Normalize Inputs').item.json.government_query,\n  topic: 'general',\n  search_depth: 'advanced',\n  include_domains: $('Normalize Inputs').item.json.government_domains,\n  include_raw_content: true,\n  max_results: 8,\n  start_date: $('Normalize Inputs').item.json.start_date,\n  end_date: $('Normalize Inputs').item.json.end_date,\n  include_answer: false\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        608
      ],
      "id": "119222ef-e6a6-4e9a-b33b-be1a987eeee7",
      "name": "Search Government / Lobbying Sources",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wasPaWy7tmUk5k0C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  query: $('Normalize Inputs').item.json.thinktank_query,\n  topic: 'general',\n  search_depth: 'advanced',\n  include_domains: $('Normalize Inputs').item.json.thinktank_domains,\n  include_raw_content: true,\n  max_results: 8,\n  start_date: $('Normalize Inputs').item.json.start_date,\n  end_date: $('Normalize Inputs').item.json.end_date,\n  include_answer: false\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        848
      ],
      "id": "9c9fedb7-48a4-479e-b706-8e8ca43b4aab",
      "name": "Search Think Tank / Policy Sources",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wasPaWy7tmUk5k0C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const query = ($('Normalize Inputs').item.json.news_query || '').toString().trim();\n  const startDate = ($('Normalize Inputs').item.json.start_date || '').toString();\n  const endDate = ($('Normalize Inputs').item.json.end_date || '').toString();\n  const company = ($('Normalize Inputs').item.json.company_name || '').toString();\n  const days = Number($('Normalize Inputs').item.json.time_period_days || 14);\n  const domainsRaw = [];\n  const domains = Array.isArray(domainsRaw) ? domainsRaw.filter(Boolean).slice(0, 100) : [];\n  const maxResults = Number(30) || 30;\n  const prompt = [\n    'You are a deterministic corporate-source discovery engine.',\n    'Use OpenAI web search to collect recent and relevant broad news coverage and major business press sources for the target company.',\n    'Return only sources that are meaningfully about the company or directly relevant to its current policy, geopolitical, security, or sector environment.',\n    'Prefer distinct URLs. Avoid duplicates, directory pages, generic homepages, or irrelevant market summaries.',\n    'The date window is ' + startDate + ' through ' + endDate + ' (' + days + ' days).',\n    'Company: ' + company,\n    'Search query: ' + query,\n    domains.length ? 'Allowed domains: ' + domains.join(', ') : 'Allowed domains: unrestricted',\n    'Return up to ' + maxResults + ' results.',\n    'For each result, provide: title, url, source_domain, published_date if known (otherwise empty string), a short snippet, and a denser content_excerpt grounded in the source.',\n    'Do not invent URLs, dates, or excerpts. If little is available, return fewer results.'\n  ].join('\\n');\n  const body = {\n    model: 'gpt-5-mini',\n    reasoning: { effort: 'low' },\n    tools: [\n      domains.length\n        ? { type: 'web_search', filters: { allowed_domains: domains } }\n        : { type: 'web_search' }\n    ],\n    tool_choice: 'required',\n    include: ['web_search_call.action.sources'],\n    text: {\n      format: {\n        type: 'json_schema',\n        name: 'company_search_results',\n        strict: true,\n        schema: {\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"search_summary\":{\"type\":\"string\"},\"results\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"title\":{\"type\":\"string\"},\"url\":{\"type\":\"string\"},\"source_domain\":{\"type\":\"string\"},\"published_date\":{\"type\":\"string\"},\"snippet\":{\"type\":\"string\"},\"content_excerpt\":{\"type\":\"string\"}},\"required\":[\"title\",\"url\",\"source_domain\",\"published_date\",\"snippet\",\"content_excerpt\"]}}},\"required\":[\"search_summary\",\"results\"]}\n      }\n    },\n    input: prompt\n  };\n  return JSON.stringify(body);\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        1264
      ],
      "id": "151e6bb4-4421-4a44-b207-aeaf191f38db",
      "name": "Search Broad News Sources",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wasPaWy7tmUk5k0C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        368
      ],
      "id": "3fd3bb82-6566-4e4d-8b8a-31479963a25f",
      "name": "Merge Official Meta + Results"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        608
      ],
      "id": "3a734e18-72ca-4945-800c-7bdfbfc6fcb6",
      "name": "Merge Government Meta + Results"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        848
      ],
      "id": "61f8536d-00dd-446a-9be5-417702aa322d",
      "name": "Merge Think Tank Meta + Results"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        1264
      ],
      "id": "7d8daa17-4726-4639-bb7e-2c2d4ee924d8",
      "name": "Merge Broad News Meta + Results"
    },
    {
      "parameters": {
        "functionCode": "\nconst sourceClass = 'official';\nconst queryField = 'official_query';\nconst item = items[0].json || {};\nconst extractDomain = (url = '') => {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); } catch (e) { return ''; }\n};\nconst parseResponseText = () => {\n  if (typeof item.output_text === 'string' && item.output_text.trim()) return item.output_text.trim();\n  const output = Array.isArray(item.output) ? item.output : [];\n  const message = output.find((entry) => entry.type === 'message' && entry.role === 'assistant');\n  if (!message || !Array.isArray(message.content)) return '';\n  const textPart = message.content.find((entry) => entry.type === 'output_text' && typeof entry.text === 'string');\n  return textPart ? textPart.text.trim() : '';\n};\nconst safeJsonParse = (text) => {\n  if (!text) return {};\n  try { return JSON.parse(text); } catch (error) { return {}; }\n};\nconst gatherSources = () => {\n  const output = Array.isArray(item.output) ? item.output : [];\n  return output\n    .filter((entry) => entry.type === 'web_search_call' && entry.action && Array.isArray(entry.action.sources))\n    .flatMap((entry) => entry.action.sources || [])\n    .map((source) => ({\n      title: (source.title || '').toString(),\n      url: (source.url || source.link || '').toString()\n    }))\n    .filter((source) => source.url);\n};\nconst parsed = safeJsonParse(parseResponseText());\nconst rawResults = Array.isArray(parsed.results) ? parsed.results : [];\nconst deduped = [];\nconst seen = new Set();\nfor (const doc of rawResults) {\n  const url = (doc.url || '').toString().trim();\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n  deduped.push(doc);\n}\nif (!deduped.length) {\n  for (const source of gatherSources()) {\n    if (seen.has(source.url)) continue;\n    seen.add(source.url);\n    deduped.push({\n      title: source.title || '',\n      url: source.url,\n      source_domain: extractDomain(source.url),\n      published_date: '',\n      snippet: '',\n      content_excerpt: ''\n    });\n  }\n}\nconst docs = deduped.map((doc, idx) => {\n  const body = (doc.content_excerpt || doc.snippet || '').toString();\n  const url = (doc.url || '').toString().trim();\n  return {\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: (doc.source_domain || extractDomain(url) || '').toString().slice(0, 255),\n      title: (doc.title || '').toString().slice(0, 500),\n      url,\n      published_date: (doc.published_date || '').toString().slice(0, 80),\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: (doc.snippet || '').toString().slice(0, 2000),\n      content_excerpt: body.slice(0, 10000),\n      content_length: body.length,\n      source_rank: idx + 1,\n      duplicate_flag: false,\n      placeholder: false\n    }\n  };\n});\nif (docs.length === 0) {\n  return [{\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: '',\n      title: '',\n      url: '',\n      published_date: '',\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      duplicate_flag: false,\n      placeholder: true\n    }\n  }];\n}\nreturn docs;\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        368
      ],
      "id": "565362b4-106a-4f5d-bc02-96361638188b",
      "name": "Flatten Official Results"
    },
    {
      "parameters": {
        "functionCode": "\nconst sourceClass = 'government';\nconst queryField = 'government_query';\nconst item = items[0].json || {};\nconst extractDomain = (url = '') => {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); } catch (e) { return ''; }\n};\nconst parseResponseText = () => {\n  if (typeof item.output_text === 'string' && item.output_text.trim()) return item.output_text.trim();\n  const output = Array.isArray(item.output) ? item.output : [];\n  const message = output.find((entry) => entry.type === 'message' && entry.role === 'assistant');\n  if (!message || !Array.isArray(message.content)) return '';\n  const textPart = message.content.find((entry) => entry.type === 'output_text' && typeof entry.text === 'string');\n  return textPart ? textPart.text.trim() : '';\n};\nconst safeJsonParse = (text) => {\n  if (!text) return {};\n  try { return JSON.parse(text); } catch (error) { return {}; }\n};\nconst gatherSources = () => {\n  const output = Array.isArray(item.output) ? item.output : [];\n  return output\n    .filter((entry) => entry.type === 'web_search_call' && entry.action && Array.isArray(entry.action.sources))\n    .flatMap((entry) => entry.action.sources || [])\n    .map((source) => ({\n      title: (source.title || '').toString(),\n      url: (source.url || source.link || '').toString()\n    }))\n    .filter((source) => source.url);\n};\nconst parsed = safeJsonParse(parseResponseText());\nconst rawResults = Array.isArray(parsed.results) ? parsed.results : [];\nconst deduped = [];\nconst seen = new Set();\nfor (const doc of rawResults) {\n  const url = (doc.url || '').toString().trim();\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n  deduped.push(doc);\n}\nif (!deduped.length) {\n  for (const source of gatherSources()) {\n    if (seen.has(source.url)) continue;\n    seen.add(source.url);\n    deduped.push({\n      title: source.title || '',\n      url: source.url,\n      source_domain: extractDomain(source.url),\n      published_date: '',\n      snippet: '',\n      content_excerpt: ''\n    });\n  }\n}\nconst docs = deduped.map((doc, idx) => {\n  const body = (doc.content_excerpt || doc.snippet || '').toString();\n  const url = (doc.url || '').toString().trim();\n  return {\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: (doc.source_domain || extractDomain(url) || '').toString().slice(0, 255),\n      title: (doc.title || '').toString().slice(0, 500),\n      url,\n      published_date: (doc.published_date || '').toString().slice(0, 80),\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: (doc.snippet || '').toString().slice(0, 2000),\n      content_excerpt: body.slice(0, 10000),\n      content_length: body.length,\n      source_rank: idx + 1,\n      duplicate_flag: false,\n      placeholder: false\n    }\n  };\n});\nif (docs.length === 0) {\n  return [{\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: '',\n      title: '',\n      url: '',\n      published_date: '',\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      duplicate_flag: false,\n      placeholder: true\n    }\n  }];\n}\nreturn docs;\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        608
      ],
      "id": "e8482804-5942-4ef4-9a42-0c39b00223da",
      "name": "Flatten Government Results"
    },
    {
      "parameters": {
        "functionCode": "\nconst sourceClass = 'thinktank';\nconst queryField = 'thinktank_query';\nconst item = items[0].json || {};\nconst extractDomain = (url = '') => {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); } catch (e) { return ''; }\n};\nconst parseResponseText = () => {\n  if (typeof item.output_text === 'string' && item.output_text.trim()) return item.output_text.trim();\n  const output = Array.isArray(item.output) ? item.output : [];\n  const message = output.find((entry) => entry.type === 'message' && entry.role === 'assistant');\n  if (!message || !Array.isArray(message.content)) return '';\n  const textPart = message.content.find((entry) => entry.type === 'output_text' && typeof entry.text === 'string');\n  return textPart ? textPart.text.trim() : '';\n};\nconst safeJsonParse = (text) => {\n  if (!text) return {};\n  try { return JSON.parse(text); } catch (error) { return {}; }\n};\nconst gatherSources = () => {\n  const output = Array.isArray(item.output) ? item.output : [];\n  return output\n    .filter((entry) => entry.type === 'web_search_call' && entry.action && Array.isArray(entry.action.sources))\n    .flatMap((entry) => entry.action.sources || [])\n    .map((source) => ({\n      title: (source.title || '').toString(),\n      url: (source.url || source.link || '').toString()\n    }))\n    .filter((source) => source.url);\n};\nconst parsed = safeJsonParse(parseResponseText());\nconst rawResults = Array.isArray(parsed.results) ? parsed.results : [];\nconst deduped = [];\nconst seen = new Set();\nfor (const doc of rawResults) {\n  const url = (doc.url || '').toString().trim();\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n  deduped.push(doc);\n}\nif (!deduped.length) {\n  for (const source of gatherSources()) {\n    if (seen.has(source.url)) continue;\n    seen.add(source.url);\n    deduped.push({\n      title: source.title || '',\n      url: source.url,\n      source_domain: extractDomain(source.url),\n      published_date: '',\n      snippet: '',\n      content_excerpt: ''\n    });\n  }\n}\nconst docs = deduped.map((doc, idx) => {\n  const body = (doc.content_excerpt || doc.snippet || '').toString();\n  const url = (doc.url || '').toString().trim();\n  return {\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: (doc.source_domain || extractDomain(url) || '').toString().slice(0, 255),\n      title: (doc.title || '').toString().slice(0, 500),\n      url,\n      published_date: (doc.published_date || '').toString().slice(0, 80),\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: (doc.snippet || '').toString().slice(0, 2000),\n      content_excerpt: body.slice(0, 10000),\n      content_length: body.length,\n      source_rank: idx + 1,\n      duplicate_flag: false,\n      placeholder: false\n    }\n  };\n});\nif (docs.length === 0) {\n  return [{\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: '',\n      title: '',\n      url: '',\n      published_date: '',\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      duplicate_flag: false,\n      placeholder: true\n    }\n  }];\n}\nreturn docs;\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        848
      ],
      "id": "9fba6da6-a6fb-41b1-8a91-de0f1634b34f",
      "name": "Flatten Think Tank Results"
    },
    {
      "parameters": {
        "functionCode": "\nconst sourceClass = 'news';\nconst queryField = 'news_query';\nconst item = items[0].json || {};\nconst extractDomain = (url = '') => {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); } catch (e) { return ''; }\n};\nconst parseResponseText = () => {\n  if (typeof item.output_text === 'string' && item.output_text.trim()) return item.output_text.trim();\n  const output = Array.isArray(item.output) ? item.output : [];\n  const message = output.find((entry) => entry.type === 'message' && entry.role === 'assistant');\n  if (!message || !Array.isArray(message.content)) return '';\n  const textPart = message.content.find((entry) => entry.type === 'output_text' && typeof entry.text === 'string');\n  return textPart ? textPart.text.trim() : '';\n};\nconst safeJsonParse = (text) => {\n  if (!text) return {};\n  try { return JSON.parse(text); } catch (error) { return {}; }\n};\nconst gatherSources = () => {\n  const output = Array.isArray(item.output) ? item.output : [];\n  return output\n    .filter((entry) => entry.type === 'web_search_call' && entry.action && Array.isArray(entry.action.sources))\n    .flatMap((entry) => entry.action.sources || [])\n    .map((source) => ({\n      title: (source.title || '').toString(),\n      url: (source.url || source.link || '').toString()\n    }))\n    .filter((source) => source.url);\n};\nconst parsed = safeJsonParse(parseResponseText());\nconst rawResults = Array.isArray(parsed.results) ? parsed.results : [];\nconst deduped = [];\nconst seen = new Set();\nfor (const doc of rawResults) {\n  const url = (doc.url || '').toString().trim();\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n  deduped.push(doc);\n}\nif (!deduped.length) {\n  for (const source of gatherSources()) {\n    if (seen.has(source.url)) continue;\n    seen.add(source.url);\n    deduped.push({\n      title: source.title || '',\n      url: source.url,\n      source_domain: extractDomain(source.url),\n      published_date: '',\n      snippet: '',\n      content_excerpt: ''\n    });\n  }\n}\nconst docs = deduped.map((doc, idx) => {\n  const body = (doc.content_excerpt || doc.snippet || '').toString();\n  const url = (doc.url || '').toString().trim();\n  return {\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: (doc.source_domain || extractDomain(url) || '').toString().slice(0, 255),\n      title: (doc.title || '').toString().slice(0, 500),\n      url,\n      published_date: (doc.published_date || '').toString().slice(0, 80),\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: (doc.snippet || '').toString().slice(0, 2000),\n      content_excerpt: body.slice(0, 10000),\n      content_length: body.length,\n      source_rank: idx + 1,\n      duplicate_flag: false,\n      placeholder: false\n    }\n  };\n});\nif (docs.length === 0) {\n  return [{\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: '',\n      title: '',\n      url: '',\n      published_date: '',\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      duplicate_flag: false,\n      placeholder: true\n    }\n  }];\n}\nreturn docs;\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        1264
      ],
      "id": "ae23d896-5728-48e3-91cd-570b09669ca4",
      "name": "Flatten Broad News Results"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        480
      ],
      "id": "8a4327c5-62e2-402d-b069-9303c2d40b3a",
      "name": "Append Official + Government"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        672
      ],
      "id": "ea0639cf-bf73-479c-8b7d-a0465732249c",
      "name": "Append + Think Tank"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        992,
        784
      ],
      "id": "8a1a4938-6c59-459c-a8f6-b7c3ce745eac",
      "name": "Append + News"
    },
    {
      "parameters": {
        "functionCode": "const clean = items\n  .map(i => i.json)\n  .filter(d => !d.placeholder)\n  .filter(d => d.validation_status !== 'rejected')\n  .filter(d => d.url || d.title);\n\nconst normalizeTitle = (title = '') => title.toLowerCase().replace(/\\s+/g, ' ').trim();\nconst seen = new Set();\nconst deduped = [];\n\nfor (const doc of clean) {\n  const key = (doc.url || '').trim() || `${normalizeTitle(doc.title)}|${doc.source_domain}`;\n  if (seen.has(key)) continue;\n  seen.add(key);\n  deduped.push({\n    json: {\n      run_id: doc.run_id,\n      row_number: doc.row_number,\n      company_name: doc.company_name,\n      sec_cik: doc.sec_cik || '',\n      company_domain: doc.company_domain || '',\n      official_domains: doc.official_domains || [],\n      corporate_news_domains: doc.corporate_news_domains || [],\n      time_period_days: doc.time_period_days,\n      time_period_label: doc.time_period_label,\n      start_date: doc.start_date,\n      end_date: doc.end_date,\n      source_class: doc.source_class,\n      source_domain: doc.source_domain,\n      title: doc.title,\n      url: doc.url,\n      published_date: doc.published_date,\n      actual_doc_date: doc.actual_doc_date || doc.published_date || '',\n      date_source: doc.date_source || '',\n      scraped_at: doc.scraped_at,\n      query_used: doc.query_used,\n      snippet: doc.snippet,\n      content_excerpt: doc.content_excerpt,\n      content_length: doc.content_length,\n      source_rank: doc.source_rank,\n      entity_confidence: doc.entity_confidence || 0,\n      validation_notes: doc.validation_notes || '',\n      validation_status: doc.validation_status || 'accepted',\n      duplicate_flag: false\n    }\n  });\n}\n\nif (deduped.length === 0) {\n  const fallback = items[0]?.json || {};\n  return [{\n    json: {\n      run_id: fallback.run_id || '',\n      row_number: fallback.row_number || '',\n      company_name: fallback.company_name || '',\n      sec_cik: fallback.sec_cik || '',\n      company_domain: fallback.company_domain || '',\n      time_period_days: fallback.time_period_days || '',\n      time_period_label: fallback.time_period_label || '',\n      start_date: fallback.start_date || '',\n      end_date: fallback.end_date || '',\n      source_class: 'none',\n      source_domain: '',\n      title: 'No documents found',\n      url: '',\n      published_date: '',\n      actual_doc_date: '',\n      date_source: '',\n      scraped_at: new Date().toISOString(),\n      query_used: '',\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      entity_confidence: 0,\n      validation_notes: fallback.validation_notes || '',\n      validation_status: 'placeholder',\n      duplicate_flag: false\n    }\n  }];\n}\n\nreturn deduped;"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1312,
        400
      ],
      "id": "d3755809-0486-4fa2-8b9e-4fe5e4bc4210",
      "name": "Deduplicate and Tidy Documents"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $(\"Normalize Inputs\").first().json.company_name }}_validated_documents_{{ $now.toFormat(\"yyyy-MM-dd\") }}.xlsx",
          "sheetName": "Validated Documents"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1616,
        -48
      ],
      "id": "d1e5a9ab-8859-42b9-9b83-53c5642d7c2b",
      "name": "Convert Documents to Excel"
    },
    {
      "parameters": {
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1808,
        -48
      ],
      "id": "b238065a-9c3c-4177-87a0-ffe9ba42d722",
      "name": "Save Excel to Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wMua64M7eafc3M0c",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const docs = items.map(i => i.json);\nconst bySource = { official: [], government: [], thinktank: [], security: [], news: [] };\nfor (const doc of docs) {\n  if (bySource[doc.source_class]) bySource[doc.source_class].push(doc);\n}\nconst formatDoc = (doc, idx) => {\n  return [\n    `Document ${idx + 1}`,\n    `Title: ${doc.title || ''}`,\n    `Domain: ${doc.source_domain || ''}`,\n    `URL: ${doc.url || ''}`,\n    `Published: ${doc.actual_doc_date || doc.published_date || ''}`,\n    `Snippet: ${(doc.snippet || '').slice(0, 1000)}`,\n    `Excerpt: ${(doc.content_excerpt || '').slice(0, 3500)}`\n  ].join('\\n');\n};\nconst pack = (arr) => arr.slice(0, 6).map(formatDoc).join('\\n\\n---\\n\\n') || 'No validated documents found for this source class in the selected time period.';\nconst first = docs[0] || {};\nconst validatedSources = docs\n  .filter(d => d.source_class && d.source_class !== 'none')\n  .map((doc, idx) => ({\n    id: doc.run_id ? `${doc.run_id}_${idx + 1}` : `source_${idx + 1}`,\n    title: doc.title || '',\n    url: doc.url || '',\n    source_class: doc.source_class || '',\n    source_domain: doc.source_domain || '',\n    published_date: doc.published_date || '',\n    actual_doc_date: doc.actual_doc_date || doc.published_date || '',\n    validation_status: doc.validation_status || 'accepted',\n    entity_confidence: doc.entity_confidence || 0\n  }));\nconst counts = {\n  official: bySource.official.length,\n  government: bySource.government.length,\n  thinktank: bySource.thinktank.length,\n  security: bySource.security.length,\n  news: bySource.news.length,\n  total: docs.filter(d => d.source_class && d.source_class !== 'none').length\n};\nreturn [{\n  json: {\n    run_id: first.run_id || '',\n    row_number: first.row_number || '',\n    company_name: first.company_name || '',\n    time_period_days: first.time_period_days || '',\n    time_period_label: first.time_period_label || '',\n    start_date: first.start_date || '',\n    end_date: first.end_date || '',\n    doc_stats: counts,\n    validated_sources: validatedSources,\n    official_bundle: pack(bySource.official),\n    government_bundle: pack(bySource.government),\n    thinktank_bundle: pack(bySource.thinktank),\n    security_bundle: pack(bySource.security),\n    news_bundle: pack(bySource.news)\n  }\n}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1520,
        416
      ],
      "id": "1007dfe1-f2d2-4461-9d88-7459d565bbf0",
      "name": "Aggregate Documents for LLM"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a deterministic financial and official-source extraction algorithm. Analyze the provided official company, SEC, investor relations, and press release materials. Extract concrete operating updates, capital allocation signals, and exact regulatory issues. Ignore generic boilerplate and do not add commentary.\n\nReturn only valid JSON with this schema:\n{\n  \"financial_health_baseline\": \"string\",\n  \"strategic_pain_points\": [\"string\"],\n  \"upcoming_capital_allocations\": [\"string\"],\n  \"specific_regulatory_hurdles\": [\"string\"]\n}"
            },
            {
              "content": "={{ $json.official_bundle }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1776,
        224
      ],
      "id": "53f7ebfb-c28b-4928-8c62-213a93ae6ff4",
      "name": "LLM 1 - Official / Financial Extractor",
      "credentials": {
        "openAiApi": {
          "id": "mYD2FoA4JGnKUTS9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a deterministic political compliance and government affairs extraction algorithm. Analyze the provided procurement, lobbying, and public sector materials. Extract specific agencies, contracts, policy targets, and government-facing risks. Ignore generic statements and do not add commentary.\n\nReturn only valid JSON with this schema:\n{\n  \"political_footprint_baseline\": \"string\",\n  \"targeted_legislation_and_policies\": [\"string\"],\n  \"key_government_contracts\": [\"string\"],\n  \"lobbying_expenditures_and_agencies\": [\"string\"]\n}"
            },
            {
              "content": "={{ $json.government_bundle }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1776,
        416
      ],
      "id": "7cf08bd8-79cb-4edc-a1f5-6a3562d57129",
      "name": "LLM 2 - Government Extractor",
      "credentials": {
        "openAiApi": {
          "id": "mYD2FoA4JGnKUTS9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a deterministic policy and strategic risk extraction algorithm. Analyze the provided think tank reports and policy materials. Extract emerging regulatory trends, geopolitical risk signals, trade or sanctions risks, and concrete recommendations from policy actors. Do not add commentary.\n\nReturn only valid JSON with this schema:\n{\n  \"policy_landscape_baseline\": \"string\",\n  \"emerging_regulatory_threats\": [\"string\"],\n  \"geopolitical_and_trade_risks\": [\"string\"],\n  \"strategic_recommendations_extracted\": [\"string\"]\n}"
            },
            {
              "content": "={{ $json.thinktank_bundle }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1776,
        592
      ],
      "id": "11aa1c24-8474-4a55-a6ee-5fe90f0f3a05",
      "name": "LLM 3 - Think Tank Extractor",
      "credentials": {
        "openAiApi": {
          "id": "mYD2FoA4JGnKUTS9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a deterministic company news extraction algorithm. Analyze the provided news coverage. Extract specific events, business moves, legal issues, market signals, and named counterparties. Ignore generic repetition and marketing language. Do not add commentary.\n\nReturn only valid JSON with this schema:\n{\n  \"news_baseline\": \"string\",\n  \"major_events\": [\"string\"],\n  \"legal_or_regulatory_events\": [\"string\"],\n  \"market_and_competitor_signals\": [\"string\"]\n}"
            },
            {
              "content": "={{ $json.news_bundle }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1776,
        768
      ],
      "id": "146c863f-c30a-4cd5-acff-212b972bab92",
      "name": "LLM 4 - News Extractor",
      "credentials": {
        "openAiApi": {
          "id": "mYD2FoA4JGnKUTS9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nconst parsed = items[0].json.output?.[0]?.content?.[0]?.text || {};\nreturn [{ json: { official_analysis: parsed } }];\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2112,
        224
      ],
      "id": "2e1499d3-b0d3-446a-a633-4e2c64c39348",
      "name": "Parse Official Extractor Output"
    },
    {
      "parameters": {
        "functionCode": "\nconst parsed = items[0].json.output?.[0]?.content?.[0]?.text || {};\nreturn [{ json: { government_analysis: parsed } }];\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2128,
        416
      ],
      "id": "3e793372-ea52-451f-9d6b-7aa99382c259",
      "name": "Parse Government Extractor Output"
    },
    {
      "parameters": {
        "functionCode": "\nconst parsed = items[0].json.output?.[0]?.content?.[0]?.text || {};\nreturn [{ json: { thinktank_analysis: parsed } }];\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2144,
        608
      ],
      "id": "393b5d8d-b864-43ca-aba8-1d171a4e81a9",
      "name": "Parse Think Tank Extractor Output"
    },
    {
      "parameters": {
        "functionCode": "\nconst parsed = items[0].json.output?.[0]?.content?.[0]?.text || {};\nreturn [{ json: { news_analysis: parsed } }];\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2144,
        784
      ],
      "id": "835274a4-3de1-4691-8377-5bea6fcd8d6b",
      "name": "Parse News Extractor Output"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 8,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2304,
        1104
      ],
      "id": "a89be2ac-f224-44d8-8ff9-eab8da9936ae",
      "name": "Merge Final Packet"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are the final CSIS-facing company briefing writer and expert-matching engine.\n\nYou will receive a structured JSON packet containing:\n- run metadata and document statistics\n- official/regulatory analysis\n- government and lobbying analysis\n- think tank and policy analysis\n- news analysis\n- a past CSIS engagement memo for the company when available\n- a CSIS experts catalogue bundle\n\nProduce only valid JSON with the following schema:\n{\n  \"recent_developments_paragraph\": \"string\",\n  \"past_csis_engagement_paragraph\": \"string\",\n  \"csis_convergence_paragraph\": \"string\",\n  \"email_pitch_ideas\": [\"string\", \"string\", \"string\"],\n  \"final_one_pager\": \"string\"\n}\n\nRequirements:\n- Write in plain English, but make each paragraph dense, specific, and useful.\n- recent_developments_paragraph must be one dense paragraph summarizing the most important recent company, sector, regional, and policy developments grounded in the current-source analysis only.\n- past_csis_engagement_paragraph must be one dense paragraph summarizing what the company previously reached out about, what meetings or briefings were about, and what this suggests about how they used CSIS. Use the company note only. If no company note exists, say so briefly.\n- csis_convergence_paragraph must be one dense paragraph that connects a recent development affecting the company, region, or sector to relevant CSIS expertise and likely prior CSIS reporting or programs, and explain what kinds of questions CSIS could answer for the company. Mention exact CSIS expert names only if they appear in the experts bundle.\n- email_pitch_ideas must contain 2 or 3 concise pitch ideas. Each idea should sound like an outreach angle for a potential email. Each item should mention a current trigger or development, what kind of CSIS meeting or briefing could be offered, and what questions CSIS could help answer.\n- final_one_pager must combine the output into a polished one-pager with this structure exactly:\n\n1. Recent Developments\n<recent_developments_paragraph>\n\n2. Past CSIS Engagements\n<past_csis_engagement_paragraph>\n\n3. Why This Matters for CSIS\n<csis_convergence_paragraph>\n\n4. Potential Email Pitch Ideas\n- <idea 1>\n- <idea 2>\n- <idea 3 if available>\n\n- Do not invent facts, meetings, experts, or reports.\n- Use only experts present in the CSIS experts bundle.\n- Make the result specific to the company, not generic to the sector.\n- Every factual sentence that relies on source material must end with one or more inline markdown hyperlink citations using URLs from `validated_sources`, for example `[Reuters](https://...)` or `[NVIDIA Newsroom](https://...)`.\n- Put citations immediately at the end of the sentence they support, not at the end of the paragraph.\n- Prefer the most specific source available for each sentence. Use official company newsroom, filing, or regulatory URLs when they support the claim.\n- If a sentence is based only on the company note and not on validated external sources, do not invent a citation for it.\n- Do not invent facts, meetings, experts, reports, or citation URLs.\n- Start `past_csis_engagement_paragraph` with the exact words `In the past,`.\n- Do not begin `past_csis_engagement_paragraph` with phrases such as `According to company note`, `According to the company note`, or similar formulations.\n- When the company is exposed to war, alliance politics, deterrence dynamics, force posture, defense-industrial-base issues, export controls, cyber conflict, maritime disruption, or regional escalation, include that military or defense perspective explicitly rather than reducing the analysis to economics or trade.\n- In `csis_convergence_paragraph`, explain not only economic or policy relevance but also what security, military, defense, regional-conflict, or deterrence questions CSIS could analyze for the company when relevant.\n- Use the structured `security_analysis` input to surface plausible conflict trajectories, force-posture implications, and defense-relevant questions for CSIS experts."
            },
            {
              "content": "={{ JSON.stringify($json, null, 2) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2528,
        1104
      ],
      "id": "f13db1ff-27b5-451e-b327-2ab81160d3d5",
      "name": "LLM 5 (Final Strategist)",
      "credentials": {
        "openAiApi": {
          "id": "mYD2FoA4JGnKUTS9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const parsed = items[0].json.output?.[0]?.content?.[0]?.text || {};\nconst ideas = Array.isArray(parsed.email_pitch_ideas)\n  ? parsed.email_pitch_ideas.filter(Boolean)\n  : [];\nreturn [{\n  json: {\n    ...items[0].json,\n    recent_developments_paragraph: parsed.recent_developments_paragraph || '',\n    past_csis_engagement_paragraph: parsed.past_csis_engagement_paragraph || '',\n    csis_convergence_paragraph: parsed.csis_convergence_paragraph || '',\n    email_pitch_ideas: ideas.join('\\n- '),\n    final_one_pager: parsed.final_one_pager || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2912,
        960
      ],
      "id": "22af952c-6ff1-4869-81ec-cd28d205f9c1",
      "name": "Parse Final Strategist Output"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tmfRQViTQHB4aheAK0DT3RSSgrR0NCrBOPfdI4XUDEA",
          "mode": "list",
          "cachedResultName": "data_base_v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmfRQViTQHB4aheAK0DT3RSSgrR0NCrBOPfdI4XUDEA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmfRQViTQHB4aheAK0DT3RSSgrR0NCrBOPfdI4XUDEA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Normalize Inputs').first().json.row_number || '' }}",
            "run_id": "={{ $('Normalize Inputs').first().json.run_id }}",
            "company_name": "={{ $('Normalize Inputs').first().json.company_name }}",
            "time_period_label": "={{ $('Normalize Inputs').first().json.time_period_label }}",
            "time_period_days": "={{ $('Normalize Inputs').first().json.time_period_days }}",
            "status": "Completed",
            "requested_at": "={{ $('Normalize Inputs').first().json.requested_at || '' }}",
            "started_at": "={{ $('Normalize Inputs').first().json.scraped_at }}",
            "finished_at": "={{ $now }}",
            "notes": "={{ $('Normalize Inputs').first().json.notes || '' }}",
            "last_updated": "={{ $now }}",
            "objective_facts": "={{ $json.recent_developments_paragraph || \"\" }}",
            "strategic_decision": "={{ $json.email_pitch_ideas || \"\" }}",
            "past_csis_engagement_summary": "={{ $json.past_csis_engagement_paragraph || \"\" }}",
            "csis_convergence": "={{ $json.csis_convergence_paragraph || \"\" }}",
            "recent_developments_paragraph": "={{ $json.recent_developments_paragraph }}",
            "past_csis_engagement_paragraph": "={{ $json.past_csis_engagement_paragraph }}",
            "csis_convergence_paragraph": "={{ $json.csis_convergence_paragraph }}",
            "email_pitch_ideas": "={{ $json.email_pitch_ideas ? ('- ' + $json.email_pitch_ideas) : '' }}",
            "final_one_pager": "={{ $json.final_one_pager }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_period_label",
              "displayName": "time_period_label",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "time_period_days",
              "displayName": "time_period_days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requested_at",
              "displayName": "requested_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "finished_at",
              "displayName": "finished_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objective_facts",
              "displayName": "objective_facts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "strategic_decision",
              "displayName": "strategic_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "past_csis_engagement_summary",
              "displayName": "past_csis_engagement_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "future_interest_hypothesis",
              "displayName": "future_interest_hypothesis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "csis_convergence",
              "displayName": "csis_convergence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommended_experts",
              "displayName": "recommended_experts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sec_cik",
              "displayName": "sec_cik",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recent_developments_paragraph",
              "displayName": "recent_developments_paragraph",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "past_csis_engagement_paragraph",
              "displayName": "past_csis_engagement_paragraph",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "csis_convergence_paragraph",
              "displayName": "csis_convergence_paragraph",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_pitch_ideas",
              "displayName": "email_pitch_ideas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_one_pager",
              "displayName": "final_one_pager",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        1376
      ],
      "id": "04a98fc9-215c-4dcc-a776-3fa6b96bdb6c",
      "name": "Append results to data_base_v1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ioJPOsOy0yEEoWVv",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const docs = items.map(i => i.json);\nconst first = docs[0] || {};\n\nconst company = (first.company_name || '').toString().trim();\nconst companyNorm = company.toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\nconst companyTokens = companyNorm.split(' ').filter(t => t.length > 2);\nconst secCik = (first.sec_cik || '').toString().replace(/\\D/g, '');\nconst shortCik = secCik.replace(/^0+/, '');\nconst companyDomain = (first.company_domain || '').toString().toLowerCase().replace(/^www\\./, '');\nconst start = new Date(`${first.start_date}T00:00:00Z`);\nconst end = new Date(`${first.end_date}T23:59:59Z`);\nconst endYear = end.getUTCFullYear();\n\nconst monthMap = {\n  january: 1, jan: 1, february: 2, feb: 2, march: 3, mar: 3, april: 4, apr: 4, may: 5,\n  june: 6, jun: 6, july: 7, jul: 7, august: 8, aug: 8, september: 9, sept: 9, sep: 9,\n  october: 10, oct: 10, november: 11, nov: 11, december: 12, dec: 12\n};\n\nfunction hostname(url = '') {\n  try { return new URL(url).hostname.toLowerCase().replace(/^www\\./, ''); } catch (e) { return ''; }\n}\n\nfunction normalize(text = '') {\n  return text.toLowerCase().replace(/[^a-z0-9]+/g, ' ').trim();\n}\n\nfunction companyScore(doc) {\n  const text = [doc.title, doc.snippet, (doc.content_excerpt || '').slice(0, 1500), doc.url].join(' ');\n  const n = normalize(text);\n  if (!companyNorm) return 0;\n  let score = 0;\n  if (n.includes(companyNorm)) score += 0.7;\n  const tokenMatches = companyTokens.filter(t => n.includes(t)).length;\n  if (companyTokens.length) score += Math.min(0.3, tokenMatches / companyTokens.length * 0.3);\n  if ((doc.url || '').toLowerCase().includes(companyNorm.replace(/\\s+/g, '-'))) score += 0.1;\n  return Math.min(1, score);\n}\n\nfunction parseDateValue(raw) {\n  if (!raw) return null;\n  const value = raw.toString().trim();\n  if (!value) return null;\n  const direct = new Date(value);\n  if (!Number.isNaN(direct.getTime())) return direct;\n  const iso = value.match(/(20\\d{2})-(\\d{2})-(\\d{2})/);\n  if (iso) return new Date(`${iso[1]}-${iso[2]}-${iso[3]}T00:00:00Z`);\n  const mdy = value.match(/(\\d{1,2})\\/(\\d{1,2})\\/(20\\d{2})/);\n  if (mdy) return new Date(`${mdy[3]}-${mdy[1].padStart(2,'0')}-${mdy[2].padStart(2,'0')}T00:00:00Z`);\n  return null;\n}\n\nfunction parseTopTextDate(text = '') {\n  const sample = text.slice(0, 2000);\n  let m = sample.match(/\\b(20\\d{2})-(\\d{2})-(\\d{2})\\b/);\n  if (m) return { date: new Date(`${m[1]}-${m[2]}-${m[3]}T00:00:00Z`), source: 'text_iso' };\n  m = sample.match(/\\b(\\d{1,2})\\/(\\d{1,2})\\/(20\\d{2})\\b/);\n  if (m) return { date: new Date(`${m[3]}-${m[1].padStart(2,'0')}-${m[2].padStart(2,'0')}T00:00:00Z`), source: 'text_mdy' };\n  m = sample.match(/\\b(January|Jan|February|Feb|March|Mar|April|Apr|May|June|Jun|July|Jul|August|Aug|September|Sept|Sep|October|Oct|November|Nov|December|Dec)\\.?\\s+(\\d{1,2}),\\s+(20\\d{2})\\b/i);\n  if (m) {\n    const month = monthMap[m[1].toLowerCase()];\n    return { date: new Date(`${m[3]}-${String(month).padStart(2,'0')}-${String(m[2]).padStart(2,'0')}T00:00:00Z`), source: 'text_month_day_year' };\n  }\n  m = sample.match(/\\b(\\d{1,2})\\s+(January|Jan|February|Feb|March|Mar|April|Apr|May|June|Jun|July|Jul|August|Aug|September|Sept|Sep|October|Oct|November|Nov|December|Dec)\\s+(20\\d{2})\\b/i);\n  if (m) {\n    const month = monthMap[m[2].toLowerCase()];\n    return { date: new Date(`${m[3]}-${String(month).padStart(2,'0')}-${String(m[1]).padStart(2,'0')}T00:00:00Z`), source: 'text_day_month_year' };\n  }\n  return null;\n}\n\nfunction parseUrlDate(url = '') {\n  let m = url.match(/\\/(20\\d{2})\\/(\\d{1,2})\\/(\\d{1,2})(?:\\/|$)/);\n  if (m) return { date: new Date(`${m[1]}-${String(m[2]).padStart(2,'0')}-${String(m[3]).padStart(2,'0')}T00:00:00Z`), source: 'url_path' };\n  m = url.match(/(20\\d{2})-(\\d{2})-(\\d{2})/);\n  if (m) return { date: new Date(`${m[1]}-${m[2]}-${m[3]}T00:00:00Z`), source: 'url_slug' };\n  return null;\n}\n\nfunction bestDate(doc) {\n  const pd = parseDateValue(doc.published_date);\n  if (pd) return { date: pd, source: 'published_date' };\n  const fromText = parseTopTextDate([doc.title, doc.snippet, (doc.content_excerpt || '').slice(0, 1500)].join(' '));\n  if (fromText) return fromText;\n  const fromUrl = parseUrlDate(doc.url || '');\n  if (fromUrl) return fromUrl;\n  return null;\n}\n\nfunction inWindow(date) {\n  return date && date >= start && date <= end;\n}\n\nconst accepted = [];\nconst rejected = [];\n\nfor (let idx = 0; idx < docs.length; idx++) {\n  const doc = docs[idx];\n  if (doc.placeholder) continue;\n  const domain = hostname(doc.url || doc.source_domain || '');\n  const score = companyScore(doc);\n  const dated = bestDate(doc);\n  const actualDate = dated ? dated.date.toISOString().slice(0, 10) : '';\n  const reasons = [];\n\n  if (score < 0.45) reasons.push('weak_company_match');\n  if (!dated) reasons.push('missing_reliable_date');\n  if (dated && !inWindow(dated.date)) reasons.push('outside_requested_window');\n\n  if (doc.source_class === 'official') {\n    if ((doc.url || '').includes('/edgar/browse/')) reasons.push('edgar_entity_landing_page');\n    if (domain === 'sec.gov' && secCik) {\n      const url = (doc.url || '').toLowerCase();\n      if (!url.includes(`/data/${shortCik}/`) && !url.includes(`cik=${shortCik}`) && !url.includes(`cik=${secCik}`)) {\n        reasons.push('sec_cik_mismatch');\n      }\n    }\n    const docOfficialDomains = Array.isArray(doc.official_domains) ? doc.official_domains : [];\n    const docCorporateNewsDomains = Array.isArray(doc.corporate_news_domains) ? doc.corporate_news_domains : [];\n    const allowedOfficialDomains = [\n      companyDomain,\n      ...docOfficialDomains,\n      ...docCorporateNewsDomains,\n      'sec.gov',\n      'businesswire.com',\n      'prnewswire.com',\n      'globenewswire.com'\n    ]\n      .map(d => (d || '').toString().toLowerCase().replace(/^www\\./, ''))\n      .filter(Boolean);\n    const officialDomainAllowed = allowedOfficialDomains.some(d => domain === d || domain.endsWith(`.${d}`));\n    if (domain && !officialDomainAllowed) reasons.push('non_company_official_domain');\n  }\n\n  if (doc.source_class === 'government' && domain.includes('opensecrets.org')) {\n    const cycleMatch = (doc.url || '').match(/[?&]cycle=(20\\d{2})/);\n    if (cycleMatch && Number(cycleMatch[1]) < endYear - 1) reasons.push('old_opensecrets_cycle');\n  }\n\n  const output = {\n    ...doc,\n    source_domain: domain || doc.source_domain || '',\n    actual_doc_date: actualDate,\n    date_source: dated ? dated.source : '',\n    entity_confidence: Number(score.toFixed(2)),\n    validation_notes: reasons.join('|'),\n    validation_status: reasons.length ? 'rejected' : 'accepted',\n    placeholder: false\n  };\n\n  if (reasons.length) rejected.push({ json: output, pairedItem: { item: idx } });\n  else accepted.push({ json: output, pairedItem: { item: idx } });\n}\n\nif (accepted.length === 0) {\n  return [{\n    pairedItem: { item: 0 },\n    json: {\n      run_id: first.run_id || '',\n      row_number: first.row_number || '',\n      company_name: first.company_name || '',\n      sec_cik: first.sec_cik || '',\n      company_domain: first.company_domain || '',\n      time_period_days: first.time_period_days || '',\n      time_period_label: first.time_period_label || '',\n      start_date: first.start_date || '',\n      end_date: first.end_date || '',\n      source_class: 'none',\n      source_domain: '',\n      title: 'No validated documents found within the requested window',\n      url: '',\n      published_date: '',\n      actual_doc_date: '',\n      date_source: '',\n      scraped_at: new Date().toISOString(),\n      query_used: '',\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      duplicate_flag: false,\n      entity_confidence: 0,\n      validation_notes: rejected.length ? 'all_documents_rejected_by_validation' : 'no_documents_found',\n      validation_status: 'placeholder',\n      placeholder: true\n    }\n  }];\n}\n\nreturn accepted;"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1136,
        784
      ],
      "id": "5c46ba26-9e49-41f2-a006-794aa69352bc",
      "name": "Validate Dates and Company Match"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tmfRQViTQHB4aheAK0DT3RSSgrR0NCrBOPfdI4XUDEA",
          "mode": "list",
          "cachedResultName": "data_base_v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmfRQViTQHB4aheAK0DT3RSSgrR0NCrBOPfdI4XUDEA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 352252327,
          "mode": "list",
          "cachedResultName": "Company_Notes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmfRQViTQHB4aheAK0DT3RSSgrR0NCrBOPfdI4XUDEA/edit#gid=352252327"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "0b95726a-707d-499e-9dee-453a73341e9a",
      "name": "Read Company Notes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ioJPOsOy0yEEoWVv",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const normalized = $('Normalize Inputs').item.json || {};\nconst target = ((normalized.company_name || '') + '').trim().toLowerCase();\nconst rows = items.map(i => i.json || {});\nconst match = rows.find(r => (((r.company_name || r.Company || '') + '').trim().toLowerCase() === target)) || {};\nconst getField = (...names) => {\n  for (const name of names) {\n    const value = match[name];\n    if (value !== undefined && value !== null && value.toString().trim()) return value.toString().trim();\n  }\n  return '';\n};\nconst dedup = (arr) => [...new Set(arr.filter(Boolean))];\nconst normalizeUrl = (raw = '') => {\n  const value = raw.toString().trim().replace(/[),.;]+$/g, '');\n  if (!value) return '';\n  if (/^https?:\\/\\//i.test(value)) return value;\n  if (/^[a-z0-9.-]+\\.[a-z]{2,}(\\/.*)?$/i.test(value)) return `https://${value}`;\n  return '';\n};\nconst hostname = (raw = '') => {\n  const url = normalizeUrl(raw);\n  if (!url) return '';\n  try { return new URL(url).hostname.toLowerCase().replace(/^www\\./, ''); } catch (e) { return ''; }\n};\nconst corporateNewsRaw = getField('company_news', 'Corporate News', 'Company News', 'corporate_news', 'Corporate_News', 'company news');\nconst explicitUrls = corporateNewsRaw.match(/https?:\\/\\/[^\\s,;]+/gi) || [];\nconst urlTokens = corporateNewsRaw.split(/[\\s,;\\n]+/);\nconst corporateNewsLinks = dedup([...explicitUrls, ...urlTokens].map(normalizeUrl));\nconst corporateNewsDomains = dedup([\n  ...corporateNewsLinks.map(hostname),\n  ...((normalized.official_domains || []).filter(Boolean))\n]);\nconst note = {\n  company_name: match.company_name || match.Company || normalized.company_name || '',\n  industries: getField('industries', 'What industries are they in'),\n  operating_regions: getField('operating_regions', 'Where do they operate'),\n  sensitivities: getField('other_sensitivities', 'Other sensitivities'),\n  requested_briefings: getField('requested_briefings', 'What have they requested briefings on'),\n  future_interests: getField('future_interests', 'Best Guess for Future Interests'),\n  corporate_news: corporateNewsRaw\n};\nconst hasNote = Object.values(note).some(v => (v || '').toString().trim() !== '');\nconst bundle = hasNote\n  ? [\n      `Company: ${note.company_name}`,\n      `Industries: ${note.industries}`,\n      `Where they operate: ${note.operating_regions}`,\n      `Other sensitivities: ${note.sensitivities}`,\n      `Requested briefings: ${note.requested_briefings}`,\n      `Best guess for future interests: ${note.future_interests}`,\n      `Corporate newsrooms: ${corporateNewsLinks.join(', ') || corporateNewsRaw || 'None provided'}`\n    ].join('\\n')\n  : 'No past CSIS engagement memo found for this company.';\nreturn [{\n  json: {\n    ...normalized,\n    company_note_found: hasNote,\n    company_note_struct: note,\n    company_note_bundle: bundle,\n    corporate_news_raw: corporateNewsRaw,\n    corporate_news_links: corporateNewsLinks,\n    corporate_news_domains: corporateNewsDomains,\n    corporate_news_query: normalized.announcement_query,\n    corporate_news_max_results: corporateNewsLinks.length ? 20 : 5\n  },\n  pairedItem: { item: 0 }\n}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "72ff6d42-befd-417e-90a1-4940b7647b4a",
      "name": "Select Company Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tmfRQViTQHB4aheAK0DT3RSSgrR0NCrBOPfdI4XUDEA",
          "mode": "list",
          "cachedResultName": "data_base_v1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmfRQViTQHB4aheAK0DT3RSSgrR0NCrBOPfdI4XUDEA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1786257751,
          "mode": "list",
          "cachedResultName": "CSIS_Experts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tmfRQViTQHB4aheAK0DT3RSSgrR0NCrBOPfdI4XUDEA/edit#gid=1786257751"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        208
      ],
      "id": "ee826804-20e2-479e-a798-5473b16a1c3e",
      "name": "Read CSIS Experts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ioJPOsOy0yEEoWVv",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const rows = items.map(i => i.json || {}).filter(r => (r.expert_name || r['Expert Name'] || '').toString().trim());\nconst fmt = (r, idx) => {\n  const name = r.expert_name || r['Expert Name'] || '';\n  const bio = (r.bio || r.Bio || '').toString().slice(0, 1200);\n  const prev = (r.previous_experience || r['Previous Experience'] || '').toString().slice(0, 800);\n  const topics = (r.topics || r.Topics || '').toString();\n  return [\n    `Expert ${idx + 1}`,\n    `Name: ${name}`,\n    `Topics: ${topics}`,\n    `Bio: ${bio}`,\n    `Previous experience: ${prev}`\n  ].join('\\n');\n};\nconst bundle = rows.map(fmt).join('\\n\\n---\\n\\n');\nreturn [{\n  json: {\n    csis_experts_count: rows.length,\n    csis_experts_bundle: bundle || 'No CSIS experts rows were found.'\n  },\n  pairedItem: { item: 0 }\n}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        240,
        208
      ],
      "id": "68271d87-5cac-425d-a1ad-a5f0585d65ea",
      "name": "Aggregate CSIS Experts"
    },
    {
      "parameters": {
        "jsCode": "const final = $input.first().json || {};\nconst normalized = $('Normalize Inputs').first().json || {};\nconst aggregate = $('Aggregate Documents for LLM').first().json || {};\nconst sources = Array.isArray(aggregate.validated_sources) ? aggregate.validated_sources : [];\n\nreturn [{\n  json: {\n    ok: true,\n    run_id: normalized.run_id || '',\n    generated_at: new Date().toISOString(),\n    company_name: normalized.company_name || '',\n    time_period_days: normalized.time_period_days || '',\n    time_period_label: normalized.time_period_label || '',\n    final_one_pager: final.final_one_pager || '',\n    recent_developments_paragraph: final.recent_developments_paragraph || '',\n    past_csis_engagement_paragraph: final.past_csis_engagement_paragraph || '',\n    csis_convergence_paragraph: final.csis_convergence_paragraph || '',\n    email_pitch_ideas: final.email_pitch_ideas || '',\n    excel_file_name: `${normalized.company_name || 'Company'}_validated_documents_${new Date().toISOString().slice(0, 10)}.xlsx`,\n    validated_sources: sources\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3136,
        960
      ],
      "id": "prepare-webhook-response",
      "name": "Prepare Webhook Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        3360,
        960
      ],
      "id": "respond-dashboard",
      "name": "Respond to Dashboard"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const query = ($('Normalize Inputs').item.json.security_query || '').toString().trim();\n  const startDate = ($('Normalize Inputs').item.json.start_date || '').toString();\n  const endDate = ($('Normalize Inputs').item.json.end_date || '').toString();\n  const company = ($('Normalize Inputs').item.json.company_name || '').toString();\n  const days = Number($('Normalize Inputs').item.json.time_period_days || 14);\n  const domainsRaw = $('Normalize Inputs').item.json.security_domains;\n  const domains = Array.isArray(domainsRaw) ? domainsRaw.filter(Boolean).slice(0, 100) : [];\n  const maxResults = Number(10) || 10;\n  const prompt = [\n    'You are a deterministic corporate-source discovery engine.',\n    'Use OpenAI web search to collect recent and relevant security, defense, alliance, force-posture, and geopolitical-risk sources for the target company.',\n    'Return only sources that are meaningfully about the company or directly relevant to its current policy, geopolitical, security, or sector environment.',\n    'Prefer distinct URLs. Avoid duplicates, directory pages, generic homepages, or irrelevant market summaries.',\n    'The date window is ' + startDate + ' through ' + endDate + ' (' + days + ' days).',\n    'Company: ' + company,\n    'Search query: ' + query,\n    domains.length ? 'Allowed domains: ' + domains.join(', ') : 'Allowed domains: unrestricted',\n    'Return up to ' + maxResults + ' results.',\n    'For each result, provide: title, url, source_domain, published_date if known (otherwise empty string), a short snippet, and a denser content_excerpt grounded in the source.',\n    'Do not invent URLs, dates, or excerpts. If little is available, return fewer results.'\n  ].join('\\n');\n  const body = {\n    model: 'gpt-5-mini',\n    reasoning: { effort: 'low' },\n    tools: [\n      domains.length\n        ? { type: 'web_search', filters: { allowed_domains: domains } }\n        : { type: 'web_search' }\n    ],\n    tool_choice: 'required',\n    include: ['web_search_call.action.sources'],\n    text: {\n      format: {\n        type: 'json_schema',\n        name: 'company_search_results',\n        strict: true,\n        schema: {\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"search_summary\":{\"type\":\"string\"},\"results\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"title\":{\"type\":\"string\"},\"url\":{\"type\":\"string\"},\"source_domain\":{\"type\":\"string\"},\"published_date\":{\"type\":\"string\"},\"snippet\":{\"type\":\"string\"},\"content_excerpt\":{\"type\":\"string\"}},\"required\":[\"title\",\"url\",\"source_domain\",\"published_date\",\"snippet\",\"content_excerpt\"]}}},\"required\":[\"search_summary\",\"results\"]}\n      }\n    },\n    input: prompt\n  };\n  return JSON.stringify(body);\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        1384
      ],
      "id": "search-security-defense-sources",
      "name": "Search Security / Defense Sources",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wasPaWy7tmUk5k0C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        1384
      ],
      "id": "merge-security-defense-meta-results",
      "name": "Merge Security Meta + Results"
    },
    {
      "parameters": {
        "functionCode": "\nconst sourceClass = 'security';\nconst queryField = 'security_query';\nconst item = items[0].json || {};\nconst extractDomain = (url = '') => {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); } catch (e) { return ''; }\n};\nconst parseResponseText = () => {\n  if (typeof item.output_text === 'string' && item.output_text.trim()) return item.output_text.trim();\n  const output = Array.isArray(item.output) ? item.output : [];\n  const message = output.find((entry) => entry.type === 'message' && entry.role === 'assistant');\n  if (!message || !Array.isArray(message.content)) return '';\n  const textPart = message.content.find((entry) => entry.type === 'output_text' && typeof entry.text === 'string');\n  return textPart ? textPart.text.trim() : '';\n};\nconst safeJsonParse = (text) => {\n  if (!text) return {};\n  try { return JSON.parse(text); } catch (error) { return {}; }\n};\nconst gatherSources = () => {\n  const output = Array.isArray(item.output) ? item.output : [];\n  return output\n    .filter((entry) => entry.type === 'web_search_call' && entry.action && Array.isArray(entry.action.sources))\n    .flatMap((entry) => entry.action.sources || [])\n    .map((source) => ({\n      title: (source.title || '').toString(),\n      url: (source.url || source.link || '').toString()\n    }))\n    .filter((source) => source.url);\n};\nconst parsed = safeJsonParse(parseResponseText());\nconst rawResults = Array.isArray(parsed.results) ? parsed.results : [];\nconst deduped = [];\nconst seen = new Set();\nfor (const doc of rawResults) {\n  const url = (doc.url || '').toString().trim();\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n  deduped.push(doc);\n}\nif (!deduped.length) {\n  for (const source of gatherSources()) {\n    if (seen.has(source.url)) continue;\n    seen.add(source.url);\n    deduped.push({\n      title: source.title || '',\n      url: source.url,\n      source_domain: extractDomain(source.url),\n      published_date: '',\n      snippet: '',\n      content_excerpt: ''\n    });\n  }\n}\nconst docs = deduped.map((doc, idx) => {\n  const body = (doc.content_excerpt || doc.snippet || '').toString();\n  const url = (doc.url || '').toString().trim();\n  return {\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: (doc.source_domain || extractDomain(url) || '').toString().slice(0, 255),\n      title: (doc.title || '').toString().slice(0, 500),\n      url,\n      published_date: (doc.published_date || '').toString().slice(0, 80),\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: (doc.snippet || '').toString().slice(0, 2000),\n      content_excerpt: body.slice(0, 10000),\n      content_length: body.length,\n      source_rank: idx + 1,\n      duplicate_flag: false,\n      placeholder: false\n    }\n  };\n});\nif (docs.length === 0) {\n  return [{\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: '',\n      title: '',\n      url: '',\n      published_date: '',\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      duplicate_flag: false,\n      placeholder: true\n    }\n  }];\n}\nreturn docs;\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        1384
      ],
      "id": "flatten-security-defense-results",
      "name": "Flatten Security Results"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        968
      ],
      "id": "append-security-analysis-sources",
      "name": "Append + Security"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a deterministic security, defense, and geopolitical risk extraction algorithm. Analyze the provided military, defense, alliance, and strategic-security materials. Extract conflict trajectories, force posture implications, defense-industrial-base issues, alliance dynamics, sanctions or export-control risks, and specific security questions relevant to the company. Do not add commentary.\n\nReturn only valid JSON with this schema:\n{\n  \"security_landscape_baseline\": \"string\",\n  \"conflict_and_escalation_risks\": [\"string\"],\n  \"military_and_force_posture_implications\": [\"string\"],\n  \"defense_industrial_and_national_security_relevance\": [\"string\"],\n  \"security_questions_csis_could_answer\": [\"string\"]\n}"
            },
            {
              "content": "={{ $json.security_bundle }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          },
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1776,
        592
      ],
      "id": "llm-security-defense-extractor",
      "name": "LLM 3B - Security / Defense Extractor",
      "credentials": {
        "openAiApi": {
          "id": "mYD2FoA4JGnKUTS9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "\nconst parsed = items[0].json.output?.[0]?.content?.[0]?.text || {};\nreturn [{ json: { security_analysis: parsed } }];\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2144,
        608
      ],
      "id": "parse-security-defense-extractor-output",
      "name": "Parse Security Extractor Output"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const query = ($('Normalize Inputs').item.json.announcement_query || '').toString().trim();\n  const startDate = ($('Normalize Inputs').item.json.start_date || '').toString();\n  const endDate = ($('Normalize Inputs').item.json.end_date || '').toString();\n  const company = ($('Normalize Inputs').item.json.company_name || '').toString();\n  const days = Number($('Normalize Inputs').item.json.time_period_days || 14);\n  const domainsRaw = $('Normalize Inputs').item.json.official_domains;\n  const domains = Array.isArray(domainsRaw) ? domainsRaw.filter(Boolean).slice(0, 100) : [];\n  const maxResults = Number(20) || 20;\n  const prompt = [\n    'You are a deterministic corporate-source discovery engine.',\n    'Use OpenAI web search to collect recent and relevant official company announcements, newsroom posts, press releases, contracts, and awards for the target company.',\n    'Return only sources that are meaningfully about the company or directly relevant to its current policy, geopolitical, security, or sector environment.',\n    'Prefer distinct URLs. Avoid duplicates, directory pages, generic homepages, or irrelevant market summaries.',\n    'The date window is ' + startDate + ' through ' + endDate + ' (' + days + ' days).',\n    'Company: ' + company,\n    'Search query: ' + query,\n    domains.length ? 'Allowed domains: ' + domains.join(', ') : 'Allowed domains: unrestricted',\n    'Return up to ' + maxResults + ' results.',\n    'For each result, provide: title, url, source_domain, published_date if known (otherwise empty string), a short snippet, and a denser content_excerpt grounded in the source.',\n    'Do not invent URLs, dates, or excerpts. If little is available, return fewer results.'\n  ].join('\\n');\n  const body = {\n    model: 'gpt-5-mini',\n    reasoning: { effort: 'low' },\n    tools: [\n      domains.length\n        ? { type: 'web_search', filters: { allowed_domains: domains } }\n        : { type: 'web_search' }\n    ],\n    tool_choice: 'required',\n    include: ['web_search_call.action.sources'],\n    text: {\n      format: {\n        type: 'json_schema',\n        name: 'company_search_results',\n        strict: true,\n        schema: {\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"search_summary\":{\"type\":\"string\"},\"results\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"title\":{\"type\":\"string\"},\"url\":{\"type\":\"string\"},\"source_domain\":{\"type\":\"string\"},\"published_date\":{\"type\":\"string\"},\"snippet\":{\"type\":\"string\"},\"content_excerpt\":{\"type\":\"string\"}},\"required\":[\"title\",\"url\",\"source_domain\",\"published_date\",\"snippet\",\"content_excerpt\"]}}},\"required\":[\"search_summary\",\"results\"]}\n      }\n    },\n    input: prompt\n  };\n  return JSON.stringify(body);\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        1024
      ],
      "id": "search-company-announcements",
      "name": "Search Company Website Announcements",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wasPaWy7tmUk5k0C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        1024
      ],
      "id": "merge-company-announcements",
      "name": "Merge Company Announcement Meta + Results"
    },
    {
      "parameters": {
        "functionCode": "\nconst sourceClass = 'official';\nconst queryField = 'announcement_query';\nconst item = items[0].json || {};\nconst extractDomain = (url = '') => {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); } catch (e) { return ''; }\n};\nconst parseResponseText = () => {\n  if (typeof item.output_text === 'string' && item.output_text.trim()) return item.output_text.trim();\n  const output = Array.isArray(item.output) ? item.output : [];\n  const message = output.find((entry) => entry.type === 'message' && entry.role === 'assistant');\n  if (!message || !Array.isArray(message.content)) return '';\n  const textPart = message.content.find((entry) => entry.type === 'output_text' && typeof entry.text === 'string');\n  return textPart ? textPart.text.trim() : '';\n};\nconst safeJsonParse = (text) => {\n  if (!text) return {};\n  try { return JSON.parse(text); } catch (error) { return {}; }\n};\nconst gatherSources = () => {\n  const output = Array.isArray(item.output) ? item.output : [];\n  return output\n    .filter((entry) => entry.type === 'web_search_call' && entry.action && Array.isArray(entry.action.sources))\n    .flatMap((entry) => entry.action.sources || [])\n    .map((source) => ({\n      title: (source.title || '').toString(),\n      url: (source.url || source.link || '').toString()\n    }))\n    .filter((source) => source.url);\n};\nconst parsed = safeJsonParse(parseResponseText());\nconst rawResults = Array.isArray(parsed.results) ? parsed.results : [];\nconst deduped = [];\nconst seen = new Set();\nfor (const doc of rawResults) {\n  const url = (doc.url || '').toString().trim();\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n  deduped.push(doc);\n}\nif (!deduped.length) {\n  for (const source of gatherSources()) {\n    if (seen.has(source.url)) continue;\n    seen.add(source.url);\n    deduped.push({\n      title: source.title || '',\n      url: source.url,\n      source_domain: extractDomain(source.url),\n      published_date: '',\n      snippet: '',\n      content_excerpt: ''\n    });\n  }\n}\nconst docs = deduped.map((doc, idx) => {\n  const body = (doc.content_excerpt || doc.snippet || '').toString();\n  const url = (doc.url || '').toString().trim();\n  return {\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: (doc.source_domain || extractDomain(url) || '').toString().slice(0, 255),\n      title: (doc.title || '').toString().slice(0, 500),\n      url,\n      published_date: (doc.published_date || '').toString().slice(0, 80),\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: (doc.snippet || '').toString().slice(0, 2000),\n      content_excerpt: body.slice(0, 10000),\n      content_length: body.length,\n      source_rank: idx + 1,\n      duplicate_flag: false,\n      placeholder: false\n    }\n  };\n});\nif (docs.length === 0) {\n  return [{\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: '',\n      title: '',\n      url: '',\n      published_date: '',\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      duplicate_flag: false,\n      placeholder: true\n    }\n  }];\n}\nreturn docs;\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        1024
      ],
      "id": "flatten-company-announcements",
      "name": "Flatten Company Announcement Results"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const query = ($json.corporate_news_query || '').toString().trim();\n  const startDate = ($json.start_date || '').toString();\n  const endDate = ($json.end_date || '').toString();\n  const company = ($json.company_name || '').toString();\n  const days = Number($json.time_period_days || 14);\n  const domainsRaw = $json.corporate_news_domains;\n  const domains = Array.isArray(domainsRaw) ? domainsRaw.filter(Boolean).slice(0, 100) : [];\n  const maxResults = Number($json.corporate_news_max_results || 10) || 10;\n  const prompt = [\n    'You are a deterministic corporate-source discovery engine.',\n    'Use OpenAI web search to collect recent and relevant official corporate newsroom, announcement, and company-website sources for the target company.',\n    'Return only sources that are meaningfully about the company or directly relevant to its current policy, geopolitical, security, or sector environment.',\n    'Prefer distinct URLs. Avoid duplicates, directory pages, generic homepages, or irrelevant market summaries.',\n    'The date window is ' + startDate + ' through ' + endDate + ' (' + days + ' days).',\n    'Company: ' + company,\n    'Search query: ' + query,\n    domains.length ? 'Allowed domains: ' + domains.join(', ') : 'Allowed domains: unrestricted',\n    'Return up to ' + maxResults + ' results.',\n    'For each result, provide: title, url, source_domain, published_date if known (otherwise empty string), a short snippet, and a denser content_excerpt grounded in the source.',\n    'Do not invent URLs, dates, or excerpts. If little is available, return fewer results.'\n  ].join('\\n');\n  const body = {\n    model: 'gpt-5-mini',\n    reasoning: { effort: 'low' },\n    tools: [\n      domains.length\n        ? { type: 'web_search', filters: { allowed_domains: domains } }\n        : { type: 'web_search' }\n    ],\n    tool_choice: 'required',\n    include: ['web_search_call.action.sources'],\n    text: {\n      format: {\n        type: 'json_schema',\n        name: 'company_search_results',\n        strict: true,\n        schema: {\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"search_summary\":{\"type\":\"string\"},\"results\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"title\":{\"type\":\"string\"},\"url\":{\"type\":\"string\"},\"source_domain\":{\"type\":\"string\"},\"published_date\":{\"type\":\"string\"},\"snippet\":{\"type\":\"string\"},\"content_excerpt\":{\"type\":\"string\"}},\"required\":[\"title\",\"url\",\"source_domain\",\"published_date\",\"snippet\",\"content_excerpt\"]}}},\"required\":[\"search_summary\",\"results\"]}\n      }\n    },\n    input: prompt\n  };\n  return JSON.stringify(body);\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        704,
        888
      ],
      "id": "search-corporate-newsroom-links",
      "name": "Search Corporate Newsroom Links",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wasPaWy7tmUk5k0C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        944,
        888
      ],
      "id": "merge-corporate-newsroom-links",
      "name": "Merge Corporate Newsroom Meta + Results"
    },
    {
      "parameters": {
        "functionCode": "\nconst sourceClass = 'official';\nconst queryField = 'corporate_news_query';\nconst item = items[0].json || {};\nconst extractDomain = (url = '') => {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); } catch (e) { return ''; }\n};\nconst parseResponseText = () => {\n  if (typeof item.output_text === 'string' && item.output_text.trim()) return item.output_text.trim();\n  const output = Array.isArray(item.output) ? item.output : [];\n  const message = output.find((entry) => entry.type === 'message' && entry.role === 'assistant');\n  if (!message || !Array.isArray(message.content)) return '';\n  const textPart = message.content.find((entry) => entry.type === 'output_text' && typeof entry.text === 'string');\n  return textPart ? textPart.text.trim() : '';\n};\nconst safeJsonParse = (text) => {\n  if (!text) return {};\n  try { return JSON.parse(text); } catch (error) { return {}; }\n};\nconst gatherSources = () => {\n  const output = Array.isArray(item.output) ? item.output : [];\n  return output\n    .filter((entry) => entry.type === 'web_search_call' && entry.action && Array.isArray(entry.action.sources))\n    .flatMap((entry) => entry.action.sources || [])\n    .map((source) => ({\n      title: (source.title || '').toString(),\n      url: (source.url || source.link || '').toString()\n    }))\n    .filter((source) => source.url);\n};\nconst parsed = safeJsonParse(parseResponseText());\nconst rawResults = Array.isArray(parsed.results) ? parsed.results : [];\nconst deduped = [];\nconst seen = new Set();\nfor (const doc of rawResults) {\n  const url = (doc.url || '').toString().trim();\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n  deduped.push(doc);\n}\nif (!deduped.length) {\n  for (const source of gatherSources()) {\n    if (seen.has(source.url)) continue;\n    seen.add(source.url);\n    deduped.push({\n      title: source.title || '',\n      url: source.url,\n      source_domain: extractDomain(source.url),\n      published_date: '',\n      snippet: '',\n      content_excerpt: ''\n    });\n  }\n}\nconst docs = deduped.map((doc, idx) => {\n  const body = (doc.content_excerpt || doc.snippet || '').toString();\n  const url = (doc.url || '').toString().trim();\n  return {\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: (doc.source_domain || extractDomain(url) || '').toString().slice(0, 255),\n      title: (doc.title || '').toString().slice(0, 500),\n      url,\n      published_date: (doc.published_date || '').toString().slice(0, 80),\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: (doc.snippet || '').toString().slice(0, 2000),\n      content_excerpt: body.slice(0, 10000),\n      content_length: body.length,\n      source_rank: idx + 1,\n      duplicate_flag: false,\n      placeholder: false\n    }\n  };\n});\nif (docs.length === 0) {\n  return [{\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: '',\n      title: '',\n      url: '',\n      published_date: '',\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      duplicate_flag: false,\n      placeholder: true\n    }\n  }];\n}\nreturn docs;\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1184,
        888
      ],
      "id": "flatten-corporate-newsroom-links",
      "name": "Flatten Corporate Newsroom Results"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const query = ($('Normalize Inputs').item.json.targeted_news_query || '').toString().trim();\n  const startDate = ($('Normalize Inputs').item.json.start_date || '').toString();\n  const endDate = ($('Normalize Inputs').item.json.end_date || '').toString();\n  const company = ($('Normalize Inputs').item.json.company_name || '').toString();\n  const days = Number($('Normalize Inputs').item.json.time_period_days || 14);\n  const domainsRaw = $('Normalize Inputs').item.json.news_domains;\n  const domains = Array.isArray(domainsRaw) ? domainsRaw.filter(Boolean).slice(0, 100) : [];\n  const maxResults = Number(30) || 30;\n  const prompt = [\n    'You are a deterministic corporate-source discovery engine.',\n    'Use OpenAI web search to collect recent and relevant curated sector, financial, and specialist news sources for the target company.',\n    'Return only sources that are meaningfully about the company or directly relevant to its current policy, geopolitical, security, or sector environment.',\n    'Prefer distinct URLs. Avoid duplicates, directory pages, generic homepages, or irrelevant market summaries.',\n    'The date window is ' + startDate + ' through ' + endDate + ' (' + days + ' days).',\n    'Company: ' + company,\n    'Search query: ' + query,\n    domains.length ? 'Allowed domains: ' + domains.join(', ') : 'Allowed domains: unrestricted',\n    'Return up to ' + maxResults + ' results.',\n    'For each result, provide: title, url, source_domain, published_date if known (otherwise empty string), a short snippet, and a denser content_excerpt grounded in the source.',\n    'Do not invent URLs, dates, or excerpts. If little is available, return fewer results.'\n  ].join('\\n');\n  const body = {\n    model: 'gpt-5-mini',\n    reasoning: { effort: 'low' },\n    tools: [\n      domains.length\n        ? { type: 'web_search', filters: { allowed_domains: domains } }\n        : { type: 'web_search' }\n    ],\n    tool_choice: 'required',\n    include: ['web_search_call.action.sources'],\n    text: {\n      format: {\n        type: 'json_schema',\n        name: 'company_search_results',\n        strict: true,\n        schema: {\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"search_summary\":{\"type\":\"string\"},\"results\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"additionalProperties\":false,\"properties\":{\"title\":{\"type\":\"string\"},\"url\":{\"type\":\"string\"},\"source_domain\":{\"type\":\"string\"},\"published_date\":{\"type\":\"string\"},\"snippet\":{\"type\":\"string\"},\"content_excerpt\":{\"type\":\"string\"}},\"required\":[\"title\",\"url\",\"source_domain\",\"published_date\",\"snippet\",\"content_excerpt\"]}}},\"required\":[\"search_summary\",\"results\"]}\n      }\n    },\n    input: prompt\n  };\n  return JSON.stringify(body);\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -32,
        1144
      ],
      "id": "search-targeted-news-sites",
      "name": "Search Curated News Sites",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wasPaWy7tmUk5k0C",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        1144
      ],
      "id": "merge-targeted-news-sites",
      "name": "Merge Curated News Meta + Results"
    },
    {
      "parameters": {
        "functionCode": "\nconst sourceClass = 'news';\nconst queryField = 'targeted_news_query';\nconst item = items[0].json || {};\nconst extractDomain = (url = '') => {\n  try { return new URL(url).hostname.replace(/^www\\./, ''); } catch (e) { return ''; }\n};\nconst parseResponseText = () => {\n  if (typeof item.output_text === 'string' && item.output_text.trim()) return item.output_text.trim();\n  const output = Array.isArray(item.output) ? item.output : [];\n  const message = output.find((entry) => entry.type === 'message' && entry.role === 'assistant');\n  if (!message || !Array.isArray(message.content)) return '';\n  const textPart = message.content.find((entry) => entry.type === 'output_text' && typeof entry.text === 'string');\n  return textPart ? textPart.text.trim() : '';\n};\nconst safeJsonParse = (text) => {\n  if (!text) return {};\n  try { return JSON.parse(text); } catch (error) { return {}; }\n};\nconst gatherSources = () => {\n  const output = Array.isArray(item.output) ? item.output : [];\n  return output\n    .filter((entry) => entry.type === 'web_search_call' && entry.action && Array.isArray(entry.action.sources))\n    .flatMap((entry) => entry.action.sources || [])\n    .map((source) => ({\n      title: (source.title || '').toString(),\n      url: (source.url || source.link || '').toString()\n    }))\n    .filter((source) => source.url);\n};\nconst parsed = safeJsonParse(parseResponseText());\nconst rawResults = Array.isArray(parsed.results) ? parsed.results : [];\nconst deduped = [];\nconst seen = new Set();\nfor (const doc of rawResults) {\n  const url = (doc.url || '').toString().trim();\n  if (!url || seen.has(url)) continue;\n  seen.add(url);\n  deduped.push(doc);\n}\nif (!deduped.length) {\n  for (const source of gatherSources()) {\n    if (seen.has(source.url)) continue;\n    seen.add(source.url);\n    deduped.push({\n      title: source.title || '',\n      url: source.url,\n      source_domain: extractDomain(source.url),\n      published_date: '',\n      snippet: '',\n      content_excerpt: ''\n    });\n  }\n}\nconst docs = deduped.map((doc, idx) => {\n  const body = (doc.content_excerpt || doc.snippet || '').toString();\n  const url = (doc.url || '').toString().trim();\n  return {\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: (doc.source_domain || extractDomain(url) || '').toString().slice(0, 255),\n      title: (doc.title || '').toString().slice(0, 500),\n      url,\n      published_date: (doc.published_date || '').toString().slice(0, 80),\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: (doc.snippet || '').toString().slice(0, 2000),\n      content_excerpt: body.slice(0, 10000),\n      content_length: body.length,\n      source_rank: idx + 1,\n      duplicate_flag: false,\n      placeholder: false\n    }\n  };\n});\nif (docs.length === 0) {\n  return [{\n    json: {\n      run_id: item.run_id,\n      row_number: item.row_number,\n      company_name: item.company_name,\n      sec_cik: item.sec_cik || '',\n      company_domain: item.company_domain || '',\n      official_domains: item.official_domains || [],\n      corporate_news_domains: item.corporate_news_domains || [],\n      time_period_days: item.time_period_days,\n      time_period_label: item.time_period_label,\n      start_date: item.start_date,\n      end_date: item.end_date,\n      source_class: sourceClass,\n      source_domain: '',\n      title: '',\n      url: '',\n      published_date: '',\n      scraped_at: item.scraped_at,\n      query_used: item[queryField],\n      snippet: '',\n      content_excerpt: '',\n      content_length: 0,\n      source_rank: 0,\n      duplicate_flag: false,\n      placeholder: true\n    }\n  }];\n}\nreturn docs;\n"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        448,
        1144
      ],
      "id": "flatten-targeted-news-sites",
      "name": "Flatten Curated News Results"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        704,
        1192
      ],
      "id": "append-broad-and-curated-news",
      "name": "Append Broad + Curated News"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        1112
      ],
      "id": "append-news-and-announcements",
      "name": "Append News + Announcements"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1072,
        1032
      ],
      "id": "append-corporate-newsroom-results",
      "name": "Append Corporate Newsroom Results"
    }
  ],
  "pinData": {},
  "connections": {
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "Search Official / Regulatory Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Official Meta + Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Government / Lobbying Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Government Meta + Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Think Tank / Policy Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Think Tank Meta + Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Security / Defense Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Security Meta + Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Company Website Announcements",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Company Announcement Meta + Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Curated News Sites",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Curated News Meta + Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Broad News Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Broad News Meta + Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Company Notes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read CSIS Experts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Official / Regulatory Sources": {
      "main": [
        [
          {
            "node": "Merge Official Meta + Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search Government / Lobbying Sources": {
      "main": [
        [
          {
            "node": "Merge Government Meta + Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search Think Tank / Policy Sources": {
      "main": [
        [
          {
            "node": "Merge Think Tank Meta + Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Official Meta + Results": {
      "main": [
        [
          {
            "node": "Flatten Official Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Government Meta + Results": {
      "main": [
        [
          {
            "node": "Flatten Government Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Think Tank Meta + Results": {
      "main": [
        [
          {
            "node": "Flatten Think Tank Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Official Results": {
      "main": [
        [
          {
            "node": "Append Official + Government",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Government Results": {
      "main": [
        [
          {
            "node": "Append Official + Government",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append Official + Government": {
      "main": [
        [
          {
            "node": "Append + Think Tank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Think Tank Results": {
      "main": [
        [
          {
            "node": "Append + Think Tank",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append + Think Tank": {
      "main": [
        [
          {
            "node": "Append + Security",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append + News": {
      "main": [
        [
          {
            "node": "Validate Dates and Company Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduplicate and Tidy Documents": {
      "main": [
        [
          {
            "node": "Convert Documents to Excel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aggregate Documents for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Documents to Excel": {
      "main": [
        [
          {
            "node": "Save Excel to Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Documents for LLM": {
      "main": [
        [
          {
            "node": "LLM 1 - Official / Financial Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM 2 - Government Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM 3 - Think Tank Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM 3B - Security / Defense Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "LLM 4 - News Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Final Packet",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "LLM 1 - Official / Financial Extractor": {
      "main": [
        [
          {
            "node": "Parse Official Extractor Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 2 - Government Extractor": {
      "main": [
        [
          {
            "node": "Parse Government Extractor Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 3 - Think Tank Extractor": {
      "main": [
        [
          {
            "node": "Parse Think Tank Extractor Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 4 - News Extractor": {
      "main": [
        [
          {
            "node": "Parse News Extractor Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Official Extractor Output": {
      "main": [
        [
          {
            "node": "Merge Final Packet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Government Extractor Output": {
      "main": [
        [
          {
            "node": "Merge Final Packet",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse Think Tank Extractor Output": {
      "main": [
        [
          {
            "node": "Merge Final Packet",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Parse News Extractor Output": {
      "main": [
        [
          {
            "node": "Merge Final Packet",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge Final Packet": {
      "main": [
        [
          {
            "node": "LLM 5 (Final Strategist)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 5 (Final Strategist)": {
      "main": [
        [
          {
            "node": "Parse Final Strategist Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Final Strategist Output": {
      "main": [
        [
          {
            "node": "Append results to data_base_v1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append results to data_base_v1": {
      "main": [
        []
      ]
    },
    "Validate Dates and Company Match": {
      "main": [
        [
          {
            "node": "Deduplicate and Tidy Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Company Notes": {
      "main": [
        [
          {
            "node": "Select Company Note",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSIS Experts": {
      "main": [
        [
          {
            "node": "Aggregate CSIS Experts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Company Note": {
      "main": [
        [
          {
            "node": "Merge Final Packet",
            "type": "main",
            "index": 6
          },
          {
            "node": "Search Corporate Newsroom Links",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Corporate Newsroom Meta + Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate CSIS Experts": {
      "main": [
        [
          {
            "node": "Merge Final Packet",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Dashboard Webhook": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Company Website Announcements": {
      "main": [
        [
          {
            "node": "Merge Company Announcement Meta + Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search Security / Defense Sources": {
      "main": [
        [
          {
            "node": "Merge Security Meta + Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Company Announcement Meta + Results": {
      "main": [
        [
          {
            "node": "Flatten Company Announcement Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Security Meta + Results": {
      "main": [
        [
          {
            "node": "Flatten Security Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Curated News Sites": {
      "main": [
        [
          {
            "node": "Merge Curated News Meta + Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Curated News Meta + Results": {
      "main": [
        [
          {
            "node": "Flatten Curated News Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Broad News Sources": {
      "main": [
        [
          {
            "node": "Merge Broad News Meta + Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Broad News Meta + Results": {
      "main": [
        [
          {
            "node": "Flatten Broad News Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Broad News Results": {
      "main": [
        [
          {
            "node": "Append Broad + Curated News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Curated News Results": {
      "main": [
        [
          {
            "node": "Append Broad + Curated News",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Flatten Security Results": {
      "main": [
        [
          {
            "node": "Append + Security",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append Broad + Curated News": {
      "main": [
        [
          {
            "node": "Append News + Announcements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Company Announcement Results": {
      "main": [
        [
          {
            "node": "Append News + Announcements",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append News + Announcements": {
      "main": [
        [
          {
            "node": "Append Corporate Newsroom Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Corporate Newsroom Links": {
      "main": [
        [
          {
            "node": "Merge Corporate Newsroom Meta + Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Corporate Newsroom Meta + Results": {
      "main": [
        [
          {
            "node": "Flatten Corporate Newsroom Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Corporate Newsroom Results": {
      "main": [
        [
          {
            "node": "Append Corporate Newsroom Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append Corporate Newsroom Results": {
      "main": [
        [
          {
            "node": "Append + News",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append + Security": {
      "main": [
        [
          {
            "node": "Append + News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM 3B - Security / Defense Extractor": {
      "main": [
        [
          {
            "node": "Parse Security Extractor Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Security Extractor Output": {
      "main": [
        [
          {
            "node": "Merge Final Packet",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Prepare Webhook Response": {
      "main": [
        [
          {
            "node": "Respond to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a97c2567-bc4d-40a0-9118-d311e777f606",
  "meta": {
    "instanceId": "f5127ba5190b28622a8fa2739b250a526f0290de8dc2d67340147bae71e72fab"
  },
  "id": "q3QNRHceBdqo3WlI",
  "tags": []
}
